
 {% load static %}

{%block dashboard%}

              <div class="container ">
                  <div class="col-12">
                    <div class="row justify-content-center">
                      <div class="col-lg-4 col-sm-4 mb-lg-0 mb-3 py-3">
                        <a href="{%url 'CreateViewReport' %}">
                          <div class="card bg-info">
                            <div class="card-header bg-info p-3 pt-2">
                              <div class="pt-1">
                                <p class="text-lg mb-0 text-white opacity-7 text-capitalize">
                                درخواست گزارش جدید
                                </p>
                                <h4 class="mb-0 narowFont">
                                &nbsp
                              </h4>
                              </div>
                            </div>
                            <hr class="dark horizontal my-0" />
                            <div class="card-footer">  <p class="mb-0 text-white narowFont">
                              در این بخش میتوانید درخواست گزارشی را از افراد سازمان نمایید.
                              </p></div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-4 col-sm-4 mb-lg-0 mb-3 py-3">
                        <a href="{%url 'ListViewReportDone' %}">
                          <div class="card bg-success">
                            <div class="card-header bg-success p-3 pt-2">
                              <div class="pt-1">
                                <p class="text-lg text-white opacity-7 mb-0 text-capitalize">
                                  گزارشات تکمیل شده
                                </p>
                                <h4 class="mb-0 narowFont">
                                {{lenDoneAct}}
                                </h4>
                              </div>
                            </div>
                            <hr class="dark horizontal my-0" />
                            <div class="card-footer"><p class="mb-0 text-white narowFont">
                              در این بخش میتوانید گزارشاتی که توسط اعضا برای شما تدوین شده است را مشاهده نمایید.
                            </p></div>
                          </div>
                        </a>
                      </div>
                      <div class="col-lg-4 col-sm-4 mb-lg-0 mb-3 py-3">
                        <a href="{%url 'ListViewReportRequest' %}">
                          <div class="card bg-warning">
                            <div class="card-header bg-warning p-3 pt-2">
                              <div class="pt-1">
                                <p class="text-lg text-white opacity-7 mb-0 text-capitalize">
                                  گزارشات درخواست شده
                                </p>
                                
                                <h4 class="mb-0 narowFont">
                                  {{lenDoingAct}}
                                </h4>
                              </div>
                            </div>
                            <hr class="dark horizontal my-0" />
                            <div class="card-footer"><p class="mb-0 text-white narowFont">
                              در این بخش میتوانید گزارشاتی که از شما درخواست شده که تکمیل نمایید را مشاهده کنید.
                            </p></div>
                          </div>
                        </a>
                      </div>
                    
                    </div>
                  </div>
              </div>   
   
 
{% endblock dashboard %}
 

{% block scripts %}


<script>
  $(document).ready(function () {
    $('#example').dataTable({
      "order": [3, 'dsc'],
      "pageLength": 25,
      "oLanguage": {
        "oPaginate": {
          "sNext": "صفحه بعدی",
          "sPrevious": "صفحه قبلی"
        },
        "sEmptyTable": "اطلاعاتی برای نمایش وجود ندارد",
        "sSearch": "جستجو   :  ",
        "sInfo": "نمایش _START_ تا_END_ از تعداد کل _TOTAL_",
        "sLengthMenu": "  تعداد در صفحه  _MENU_ ",
        "sInfoEmpty": "رکوردی برای نمایش وجود ندارد",


      }
    });
  });
</script>
<script>
  const data = {
    labels: {{dictData.allSource.labels|safe}},
    datasets: [{
      label: 'My First Dataset',
      data:{{dictData.allSource.data|safe}},
      backgroundColor: [
      '#EE8434',
      '#c95d63',
      '#AE8799',
      '#717EC3',
      '#7B9E87',
      '#27213C',
      '#0CF574',
      '#A47963',
      '#1CCAD8',
    ],
      hoverOffset: 8
    }]
  };

  const config = {
    type: 'pie',
    data: data,
  };

  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>


 const dataPolar = {
  labels: {{allHozeData.labels|safe}},
  datasets: [{
    label: 'تعداد بر اساس واحد',
    data: {{allHozeData.data|safe}},
    backgroundColor: [
      '#EE8434',
      '#c95d63',
      '#AE8799',
      '#717EC3',
      '#7B9E87',
      '#27213C',
      '#0CF574',
      '#A47963',
      '#1CCAD8',
    ]
  }]
};

  

  const ctxPolar = document.getElementById('myChartPolar');

 var mypp = new Chart(ctxPolar, {
    type: 'polarArea',
    data: dataPolar,
    options: {
    responsive: true,
    ticks: {
            stepSize: 1
        },
    plugins: {
      legend: {
        position: 'top',
      },
      
    }
  },
  });

  
</script>
<script>
  const dataBar = {
    labels: [
    'پایش و اندازه‌گیری فرآیند',
    'ممیزی داخلی',
    'ممیزی خارجی',
    'بازنگری مدیریت',
    'مدیریت ریسک',
    'تجزیه و تحلیل داده‌ها',
    'مدیریت تغییر',
    'پیشنهاد',
    'سایر',
  ],
    
    datasets: [{
      label: 'اقدامات اصلاحی جاری',
      data: [10, 20, 30, 40, 50, 60, 70, 80, 90],
      backgroundColor: [
        
        'rgb(255, 139, 6)',
      ],
    },
    {
      label: 'اقدامات اصلاحی اثر بخش',
      data: [5, 10, 15, 20, 25, 30, 35, 40, 45],
      backgroundColor: [

      '#0CF574',

      ],
    },
    {
      label: 'اقدامات اصلاحی غیر اثر بخش',
      data: [2, 5, 7, 10, 12, 15, 17, 20, 22],
      backgroundColor: [

      'rgb(255, 0, 0)',

      ],
    },]
  };

  const configBar = {
    type: 'pie',
    data: dataBar,
  };

  const ctxBar = document.getElementById('myChartBar');

  new Chart(ctxBar, {
    type: 'bar',
    data: dataBar,
    options: {
      plugins: {
        title: {
          display: false,
          text: 'Chart.js Bar Chart - Stacked'
        },
      },
      responsive: true,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      }
    }
  });
</script>


{%endblock scripts%}