{% extends extend%}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.css' %}">

<link rel="stylesheet" href="{%static '/css/select2.min.css'%}">
<link rel="stylesheet" href="{%static '/css/select2-bootstrap-5-theme.rtl.min.css'%}">
<script type="text/javascript" charset="utf8" src="{% static '/js/dataTables.js' %}"></script>

<script src="{% static '/js/jquery.dataTables.js' %}"></script>
<link href="{% static '/css/picker.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
{%endblock style%}
{% block content %}
<script>
  $(document).ready(function() { 
  $("select").select2({
   theme: "bootstrap-5",
   placeholder: "یک گزینه را انتخاب کنید",
   allowClear: true
  });
  });

 </script>
{%include 'partials/profile-meeting.html'%}

<div class="container py-6">

  <div class="row justify-content-md-center">
    <div class="card card-frame col-10">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="row">

          <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
            <h4 class="text-white text-capitalize ps-3">{{ header_title }}</h4>

          </div>
        </div>

      </div>
      <div class="card-body">



<div id="agenda-list">
  {%include 'partials/agenda-list.html'%}
</div>




        <form  hx-post="{%url 'add-agenda' %}" hx-target="#agenda-list"  class="py-3" >

          {% csrf_token %}
          <div class="row">
            <div class="col-4">
              <div class="input-group input-group-static mb-4 is-filled">
                <label class="" for="id_meetingPlace">
                {{ form.title.label }}
                </label>
                {{form.title }}
    
              </div>
            </div>
            <div class="col-4">
              <div class="input-group input-group-static mb-4">
                <label class="" for="id_timeDuration">
                  مدت زمان دستور   را انتخاب کنید
                </label>
                <input type="text" name="timeDuration" class="form-control js-time" value="{{ form.timeDuration.value|default_if_none:'' }}" id="id_timeDuration">
    
              </div>
            </div>
            <div class="col-4">
              <div class="input-group input-group-static mb-4">
                <label class="" for="id_responsible">
                  مسئول دستور را انتخاب کنید
                </label>
              {{form.responsible}}
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <div class="input-group input-group-static mb-4 is-filled">
                <label class="" for="id_meetingPlace">
                {{ form.text.label }}
                </label>
                {{form.text }}
    
              </div>
            </div>
          </div>
          
          
          
          
          <input type="hidden" name="meetingRelated" id="id_meetingRelated" value="{{meetingSelected.id}}">
          <div class="row justify-content-md-center">
            <div class="col-4">
              <button type="submit"  class="btn w-100  btn-outline-primary">
                افزودن </button>
            </div>
            <div class="col-4">
              <a href="{%url 'CreateViewMeetingInvitation' meetingSelected.id %}"  class="btn w-100  btn-outline-info">
                اتمام </a>
            </div>
            <div class="col-4">
              <a href="{%url 'ListViewMeeting' %}" class="btn w-100  btn-outline-danger">
                کنسل </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>




{% endblock content %}

{% block scripts%}


<script src="{% static '/js/select2.min.js' %}"></script>





<script src="{% static 'js/picker.js' %}"></script>
<script>

  new Picker(document.querySelector('.js-time'), {
    format: 'HH:mm',
    headers: true,
    date: new Date(1, 0),
    text: {
      title: 'مدت زمان را انتخاب کنید',

    },
    increment: {
      hour: 1,
      minute: 15,

    },
  });


</script>




<!-- OR -->
<!-- loading by form (if used AdminJalaliDateWidget) -->


{%endblock scripts%}