{% extends extend%}

{% load jalali_tags %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}"> -->

{%endblock style%}

{% block content %}
{{get_jalali_date}}
<script type="text/javascript">
  function show_hide_row(row) {
    $("#" + row).slideToggle();
  }
</script>

</script>



<div class="container py-6">
  <div class="row justify-content-md-center">
    <div class="card  frame col-12">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="row">
          <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
            <h4 class="text-white text-capitalize ps-3">صورت جلسه   </h4>
          </div>
        </div>

      </div>
      <div class="card my-3" style="border: 2px dotted#747474 !important;">


        <div class="row py-3 justify-content-md-center">
          <div class="col-10">
            <h5 class="mb-1 text-dark font-weight-bold"> عنوان جلسه : {{MeetingSelected.title}} <span
                class="text-danger narowFont">{{ProfileManagementReviewSelected.title}}</span> </h5>
          </div>
        </div>
        <div class="row py-3 justify-content-md-center">
          <div class="col-4">
            <h5 class="mb-1 text-dark font-weight-bold"> تاریخ جلسه : <span
                class="text-danger narowFont">{{MeetingDateSelected.meetingDate|to_jalali:'%Y/%m/%d'}}</span>
            </h5>
          </div>
          <div class="col-3">
            <h5 class="mb-1 text-dark font-weight-bold"> ساعت شروع : <span class="text-danger narowFont">{{startTime}}</span>
            </h5>
          </div>
          <div class="col-3">
            <h5 class="mb-1 text-dark font-weight-bold"> ساعت خاتمه : <span
                class="text-danger narowFont">{{endTime}}</span> </h5>
          </div>
        </div>

        <div class="row py-3 justify-content-md-center">
          <div class="col-10">
            <h5 class="mb-1 text-dark font-weight-bold"> محل برگزاری : <span
                class="text-danger narowFont">{{MeetingDateSelected.meetingPlace}}</span> </h5>
          </div>
        </div>
        <div class="row py-3 justify-content-md-center">
          <div class="col-10">
            <h5 class="mb-1 text-dark font-weight-bold"> دستور کار : <span class="text-secondary narowFont">
              {%for agenda in MeetingAgendaSelected%}
              {{forloop.counter}} - {{agenda.title}}
              {%endfor%}
              </span> </h5>
          </div>
        </div>

        <div class="row py-3 justify-content-md-center">
          <div class="col-10">
            <h5 class="mb-1 text-dark font-weight-bold"> دانلود فایل ارائه :
               <a class="text-danger" href="{{MeetingDocumentSelected.persentDocument.url}}">جهت دانلود کلیک کنید</a> </h5>
          </div>
        </div>
        <div class="row py-3 justify-content-md-center">
          <div class="col-10">
            <h5 class="mb-1 text-dark font-weight-bold"> دانلود فایل صورت جلسه :
               <a class="text-danger" href="{{MeetingDocumentSelected.minuteDocument.url}}">جهت دانلود کلیک کنید</a> </h5>
          </div>
        </div>


      </div>
      <div class="row py-3 justify-content-md-center">

        <div class="col-6">
          <div class="card my-3" style="border: 2px dotted#747474 !important;">
            <div class="card-header ">
              <strong> حاضرین در جلسه </strong>
            </div>
            <ul class="list-group list-group-flush " style="display: contents;">
              {%for member in peresents%}
              <li class="list-group-item ">{{forloop.counter}} - {{member.JobBankRelated}}</li>
              {%endfor%}

            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="card my-3" style="border: 2px dotted#747474 !important;">
            <div class="card-header ">
              <strong> غایبین در جلسه </strong>
            </div>
            <ul class="list-group list-group-flush " style="display: contents;">

              {%for member in absents%}
              <li class="list-group-item ">{{forloop.counter}} - {{member.JobBankRelated}}</li>
              {%endfor%}

            </ul>
          </div>
        </div>
      </div>
      <div class="card">
      <div class="container-fluid fulled">
        
          <div class="card-header"> <h3><string> مصوابات جلسه  :  </string> </h3></div>

          <div class="cord-body">
          <div class="row border-bottom py-3">
            
            <div class="col-1 text-center border-left-1"><strong>ردیف </strong></div>
            <div class="col-5 text-center border-left-1"><strong>موضوع فعالیت / اقدام </strong></div>
            <div class="col-2 text-center border-left-1"><strong>مسئولیت اجرا</strong></div>
            <div class="col-2 text-center border-left-1"><strong>مسئولیت پیگیری </strong></div>
            <div class="col-2 text-center border-left-1"><strong>مهلت اجرا</strong></div>

          </div>
          
          {%for enactment in MeetingEnactmentSelected%}

          <div class="row border-bottom py-3">

            <div class="col-1 narowFont text-center">{{forloop.counter}}</div>

            <div class="col-5 narowFont text-center">{{enactment.title}}</div>
            <div class="col-2 narowFont text-center">{{enactment.responsibleExecutive}}
            </div>

            <div class="col-2 narowFont text-center">{{enactment.responsibleFollow}}
            </div>
            <div class="col-2 narowFont text-center">{{enactment.deadLine|to_jalali:'%Y/%m/%d'}}</div>




          </div>
        
        

        {% endfor %}
      </div>
      </div>
      </div>

    </div>
  </div>





  {% endblock content %}


  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="{% static '/js/dataTables.js' %}"></script>


  <!-- <script src="{% static 'admin/js/django_jalali.min.js' %}"></script> -->
  <!-- OR -->
  <!-- loading by form (if used AdminJalaliDateWidget) -->
  {{ form.media }}

  <script>
    // json_load_process
    const groupDataBox = document.getElementById('id_group')
    const groupBox = document.getElementById('id_group')

    const processDataBox = document.getElementById('id_process')
    const processBox = document.getElementById('id_process')

    $.ajax({
      type: 'GET',
      url: '/risk/identification/json/load-prcoess/',
      success: function (response) {
        console.log(response.data)
        const processData = response.data
        processData.map(item => {
          const option = document.createElement('div')
          option.textContent = item.name
          option.setAttribute('class', 'item')
          option.setAttribute('data-value', item.name)
          groupDataBox.appendChild(option)
        }

        )
      },
      error: function (error) {
        console.log(error)
      },
    })

    groupBox.addEventListener('change', e => {
      console.log(e.target.value)
      const selectedGroup = e.target.value
      processBox.innerHTML = ''
      processBox.textContent = "---------"
      $.ajax({
        type: 'GET',
        url: '/risk/identification/json/get_json_group_data/' + e.target.value,

        success: function (response) {
          console.log(response.data)
          const processData = response.data

          processData.map(item => {
            const option = document.createElement('option')
            option.textContent = item.title
            option.value = item.id

            processDataBox.appendChild(option)
          })
        },
        error: function (error) {
          console.log(error)
        }
      })

    })


  </script>

  {%endblock scripts%}