{% extends extend%} {% load static %} {% load jalali_tags %} {% block style %}
<link href="{% static '/css/picker.css' %}" rel="stylesheet" />
<link
  rel="stylesheet"
  href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}"
/>
{%endblock style%} {% block content %}

<div class="container py-6">
  <div class="row justify-content-md-center">
    <div class="card card-frame col-8">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="row">
          <div
            class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3"
          >
            <h4 class="text-white text-capitalize ps-3">{{ header_title }}</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="input-group input-group-static mb-4">
              <label class="" for="{{ title.auto_id }}">
                عنوان پروژه را وارد کنید
              </label>
              {{form.title }} {% if form.title.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.title.errors.as_text}}
              </div>
              {% endif %}
            </div>
          </div>
         <div class="row">
          <div class="input-group input-group-static mb-4">
            <label class="" for="{{ form.accountable.auto_id }}">
              مسئول پروژه را انتخاب کنید
            </label>
            {{form.accountable }} {% if form.accountable.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.accountable.errors.as_text}}
            </div>
            {% endif %}
          </div>
         </div>
         
       

         
        
          


          <div class="input-group input-group-static mb-4">
            <label class="" for="{{ form.description.auto_id }}">
              توضیحات پروژه را وارد کنید
            </label>
            {{form.description }} {% if form.description.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.description.errors.as_text}}
            </div>
            {% endif %}
          </div>
          <div class="input-group input-group-static mb-4">
            <label class="" for="{{ form.targetRequired.auto_id }}">
              هدف مورد نظر پروژه را وارد کنید
            </label>
            {{form.targetRequired }} {% if form.targetRequired.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.targetRequired.errors.as_text}}
            </div>
            {% endif %}
          </div>
          <div class="input-group input-group-static mb-4">
            <label class="" for="{{ form.capitalEstimate.auto_id }}">
              بودجه مورد نظر را وارد کنید
            </label>
            {{form.capitalEstimate }} {% if form.capitalEstimate.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.capitalEstimate.errors.as_text}}
            </div>
            {% endif %}
          </div>
          <div class="input-group input-group-static mb-4">
            <label class="" for="{{ form.diurationEsimate.auto_id }}">
              مدت زمان مورد نظر را وارد کنید
            </label>
            {{form.diurationEsimate }} {% if form.diurationEsimate.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.diurationEsimate.errors.as_text}}
            </div>
            {% endif %}
          </div>

          {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}

          <div class="row justify-content-md-center">
            <div class="col-5">
              <button type="submit" class="btn w-100 btn-outline-primary">
                افزودن
              </button>
            </div>
            <div class="col-5">
              <a
                href="{%url menuBack %}"
                class="btn w-100 btn-outline-danger"
              >
                کنسل
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block scripts%}
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<script src="{% static 'js/picker.js' %}"></script>

{%endblock scripts%}
