{% extends extend%}
{% load static %}
{% load jalali_tags %}
{% block style %}
<link href="{% static '/css/picker.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{%static '/css/select2.min.css'%}">
<link rel="stylesheet" href="{%static '/css/select2-bootstrap-5-theme.rtl.min.css'%}">
{%endblock style%}
{% block content %}
<script>
  $(document).ready(function() { 
  $("select").select2({
   theme: "bootstrap-5",
   placeholder: "یک گزینه را انتخاب کنید",
   allowClear: true
  });
  });

 </script>
<div class="container py-6">

  <div class="row justify-content-md-center">
    <div class="card card-frame col-8">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="row">

          <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
            <h4 class="text-white text-capitalize ps-3">{{ header_title }}</h4>

          </div>
        </div>

      </div>
      <div class="card-body">






        <form action="" method="POST">

          {% csrf_token %}
          
          
          
          
          
          
          
          

          <div class="input-group input-group-static mb-4">
            <label class="" for="id_title">
              عنوان برنامه اجرایی را وارد کنید
            </label>
           
            <input type="text" name="title" maxlength="250" class="form-control" id="id_title" >

          </div>
          <div class="input-group input-group-static mb-4">
            <label for="id_description">
                توضیحات برنامه اجرایی را وارد کنید : 
            </label>
            <textarea name="description" cols="40" rows="5" class="form-control" id="id_description"></textarea>
            
          </div>
          

          <div class="input-group input-group-static mb-4">
            <label class="" for="id_startTiem">
              تاریخ شروع  فعالیت را انتخاب نمایید
            </label>
            <input type="text" name="startTiem" class="jalali_date-date  form-control"   id="id_startTiem" autocomplete="False">

          </div>
          <div class="input-group input-group-static mb-4">
            <label class="" for="id_deadLine">
              تاریخ پایان  فعالیت را انتخاب نمایید
            </label>
            <input type="text" name="deadLine" class="jalali_date-date  form-control"   id="id_deadLine" autocomplete="False">

          </div>
          {%if request.user.is_superuser %}
          <div class="input-group input-group-static mb-4">
            <label class="" for="id_accountable">
                مسئولیت برنامه اجرایی با چه کسی است
            </label>
           
            {{form.accountable}}

          </div>
          <div class="input-group input-group-static mb-4">
            <label class="" for="id_responsible">
              مسئول اجرای برنامه  را انتخاب کنید
            </label>
           
            {{form.responsible}}

          </div>
          <div class="input-group input-group-static mb-4">
            <label class="" for="id_sourcePlan">
              منشا برنامه اجرایی را انتخاب کنید
            </label>
            
            
            
            {{form.sourcePlan}}

          </div>
          
          {%else%}
          <input type="hidden" name="accountable" id="id_accountable" value="{{jobBankUser.id}}">
          <input type="hidden" name="responsible" id="id_responsible" value="{{jobBankUser.id}}">
          <input type="hidden" name="sourcePlan" id="id_sourcePlan" value="corrective">
          {%endif%}
          <div class="row justify-content-md-center">
            <div class="col-5">
              <button type="submit" class="btn w-100  btn-outline-primary">
                افزودن </button>
            </div>
            <div class="col-5">
              <a href="{%url 'ViewPlanDashboard' %}" class="btn w-100  btn-outline-danger">
                کنسل </a>
            </div>
            
          </div>
          
          <input type="hidden" name="status" id="id_status" value="complate">
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block scripts%}
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<script src="{% static 'js/picker.js' %}"></script>
<script>
  new Picker(document.querySelector('.js-time-picker'), {
    format: 'HH:mm',
    headers: true,
    date: new Date(1, 0),
    text: {
      title: 'مدت زمان را انتخاب کنید',
    },
    increment: {
      hour: 1,
      minute: 15,

    },
  });

  new Picker(document.querySelector('.js-time-picker-start'), {
    format: 'HH:mm',
    headers: true,
    date: new Date(1, 0),
    text: {
      title: 'مدت زمان را انتخاب کنید',

    },
    increment: {
      hour: 1,
      minute: 15,

    },
  });


</script>
<script src="{% static '/js/select2.min.js' %}"></script>

<!-- OR -->
<!-- loading by form (if used AdminJalaliDateWidget) -->


{%endblock scripts%}