div#sidenav-collapse-main{
    margin-top: 4em;
    letter-spacing: 0.05rem;
}


input,
button,
select,
optgroup,

textarea {

  font-family: Nazanin !important;
 }

.narowFont {

    font-family: Nazanin !important;
   }

#navbarBlur{
    z-index: 2;
    background-color: #fdffff;

}


#sidenav-main{
    z-index: 1;

}


body{

    background-color: #efefef;
}

#sidenav-main{
    background-color: #fdffff;

}

.collapse .show{

    background-color: #f2f2f2;
}

#sidenav-collapse-main > ul > li:hover{

    background-color: #cb9c7d ;
}

.collapse .show > li:hover{

    background-color: #e1c292 ;
}


.main-content{
    z-index: 0;
}

#sidenav-collapse-main > ul > li > a > div > i{

    color:#5b84ab;
}

.box{
    color: #495057;
}

  
  .box select {
    background-color: #fdffff;
    color: #3f3f3f;
    padding: 12px;
    width: 200px;
    
    
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 50px;
    border: 1px solid #6b6b6b36;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }


  .btn-all{
    color:#3f3f3f;
    border: none;
  }

.btn-all:hover {
    color: #6b6b6b !important;
  
}

.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover {
  background: rgb(208, 212, 253) !important;
}

img {
  vertical-align: middle;
  border-style: none; }


  .wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }


    
.img, .login-wrap {
  width: 50%; }
  @media (max-width: 991.98px) {
    .img, .login-wrap {
      width: 100%; } }


.btn-primary-color{
  background-image: linear-gradient(269deg, #87e890 0%, #46705c 100%);

}

.btn-primary-color:hover {
  background-color: #46705c;
  border-color: #87e890;
  box-shadow: 0 14px 26px -12px rgb(97 162 114 / 20%), 0 4px 23px 0 rgb(78 127 99 / 60%), 0 8px 10px -5px rgb(117 199 129 / 60%);
}

.dropdown-menu-arrow {
  top: -25px;
  left: 50%;
  width: 0;
  height: 0;
  position: relative;
}
.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0,0,0,.15);
}





.login-card{

border-top-left-radius: 0.75rem;

border-bottom-left-radius: 0.75rem;
background: rgb(63,101,119);
background: linear-gradient(
  90deg
  , #e1c292 0%, #e6cb9f 31%, #ebd3ad 100%);
}


.login-image-background{
  

  background: url("/static/img/download.svg")  ;
  height: 100vh;
  background-size: cover;
}

#navbarBlur{
  height: 3.6rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}



.dropdown-menu li{
  text-align: right !important;
}


.hover-opacity {
  opacity: 0.7;
      transition: all 0.5s ease-in-out;
      
}

.hover-opacity:hover {
  opacity: 1;
      
}

.bg-gradient-primary {
  background-image: linear-gradient(90deg, #cb9c7d 0%, #e1c292 100%); }


.btn-primary, .btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 rgb(233 30 99 / 15%), 0 3px 1px -2px rgb(233 30 99 / 20%), 0 1px 5px 0 rgb(233 30 99 / 15%);
}


.btn-primary, .btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 rgb(115 174 175 / 15%), 0 3px 1px -2px rgb(115 174 175 / 20%), 0 1px 5px 0 rgb(115 174 175 / 15%);
}

.btn-primary:hover, .btn.bg-gradient-primary:hover {
  background-color: #ba8274;
  border-color: #ba8274;
  box-shadow: 0 14px 26px -12px rgb(115 174 175 / 40%), 0 4px 23px 0 rgb(115 174 175 / 15%), 0 8px 10px -5px rgb(115 174 175 / 20%);
}


.image-map {

  margin-top:-2em;
}

.neg-margin-1{
  margin-top: -1em;
}


.input-group-lg > .form-control, .input-group-lg > .form-select, .input-group-lg > .input-group-text, .input-group-lg > .btn {
  
  font-size:1.6rem;
}

.navbar .nav-link {

  font-size: 1rem;

}

.nav-item .active{
  color: #ba8274;
  border-bottom: 3px solid #ba8274;
  
}
.btn-lg, .btn-group-lg > .btn {
  
  font-size: 1.4rem;
  
}
.fulled{
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.moreData{
  display:block;
  background-color: #ffe8af;
}

.nowrap{
  white-space: nowrap ;
}

.current{
  background-color: #d4d3d3;

}

.icon-50{
  max-width: 50%;
}

.icon-25{
  max-width: 25%;
}


.bg-gradient-light-green{
  background-image: linear-gradient(195deg, #30770045 0%, #61aa3145 100%);
  

}

.box-notif{
  border-top-width: 0px;
  border-bottom: 0px;
  border-left-width: 0px;
  border-right-width: 10px;

}

.box-notif img{

  filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55));
  margin-left : 0px !important;
  
}

.box-notif .icon{
  margin-top:50%;
  margin-bottom: 50%;

}
#carouselSlider > div.carousel-inner > div{
  max-height: 400px!important;
}

#carouselSlider > div.carousel-inner > div > img{

  max-width: 100%; height:auto;
}

#carouselSlider > div.carousel-inner > div > div{
  background: rgba( 255, 255, 255, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.risk1{
  background-color: #ff0000!important;
  color:#fff!important;
}
.risk2{
  background-color: #ff8b06!important;
  color:#fff!important;
}
.risk3{
  background-color: #ffff06!important;
  color:#fff!important;
}
.risk4{
  background-color: #ffe138!important;
  color:#706767!important;
}
.risk5{
  background-color: #10c700!important;
  color:#fff!important;
}


.bg-1{
  background: radial-gradient(#EEF1F5, #d5d8db);
}
 .bg-2{
  background: radial-gradient(#EEF1F5, #a2b0bf);
}
/*.bg-3{
  background: radial-gradient(#76b2fe, #b69efe);
}
.bg-4{
  background: radial-gradient(#60efbc, #58d5c9);
}
.bg-5{
  background: radial-gradient(#f588d8, #c0a3e5);
}
.bg-6{
  background: radial-gradient(#1fe4f5, #3fbafe);
}
.bg-7{
  background: radial-gradient(#fbc1cc, #fa99b2);
}
.bg-8{
  background: radial-gradient(#76b2fe, #b69efe);
} */

.dataTables_info{
  font-family: 'Nazanin' !important;
}
.dataTables_paginate{
  font-family: 'Yekan' !important;
}
/* start news */

.text-justified{
  margin: 0;
  text-indent: 2rem;
  text-align: justify;

}

.blockquote{
  border-right: 3px solid #6c757d!important;
  border-left: 0px!important;
}

.blockquote p {
  margin-right: 1rem;
}


.text-black-80 {
  color: rgba(0,0,0, .8) !important;
}


.c-stepper {
  display: flex;
  direction: rtl;
}
.c-stepper__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.c-stepper__item:before {
  --size: 3rem;
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: lightgrey;
  background-color: rgb(161, 161, 161);
  opacity: 0.5;
  margin: 0 auto 1rem;
}
.c-stepper .active:before {
  --size: 3rem;
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: lightgrey;
  background-color: red;
  opacity: 0.5;
  margin: 0 auto 1rem;
}
.done:before {
  --size: 3rem;
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: lightgrey;
  background-color: rgb(0, 255, 64);
  opacity: 0.5;
  margin: 0 auto 1rem;
}
.c-stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: 1.5rem;
  width:50%;
  right:80%;
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}
.c-stepper__title {
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 1.25rem);
  margin-bottom: 0.5rem;
}
.c-stepper__desc {
  color: grey;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/*** Non-demo CSS ***/
.wrapper {
  max-width: 1000px;
  margin: 2rem auto 0;
}

.badgec {
position: absolute;
top: 2px!important;
right: -10px!important;
padding: 1px 7px!important;
border-radius: 50%!important;
background: red!important;
color: white!important;
}



td{
  white-space: normal!important;
}




#w {
  position: relative;
  height: 400px;
  width: 400px;
}

#d1, #d2 {
  position: absolute;
}

#d1 {
  top: 0px;
  left: 0px;
}

#d2 {
  border-radius: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}






.menu {
  position: relative;
  margin-top: 15%;
  left: 50%;
  width: 0px;
  transform: translate(-50%, 55%);
}

.toggle {
  display: none;
}

.toggle + .style {
    
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1);
    z-index: 5;
    display: block;
    max-width: 200px;
    margin-bottom: 0;
    background: #ff0000;
    color: #fff;
    font-size: 2.5em;
    padding-top: 75px;
    text-align: center;
   -webkit-transition: all .8s;
   -moz-transition: all .8s;
   -o-transition: all .8s;
   -ms-transition: all .8s;
   transition: all .8s;
}

.menu p{
    max-width: 85px;
    text-align: center;
    margin: 0 auto;
    line-height: 15px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 2em;
}

.toggle + .style:hover{
	-webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
}

.toggle:checked + .style {
  transform: translate(-50%, -50%) scale(.5);
}


.toggle + .style:before, .toggle + .style:after {
  content: "";
  position: absolute;
  margin: -3px;
  border-radius: 5px;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 30px;
  height: 0px;
  left: 10px;
  top: 25px;
}

.toggle + .style:after {
  width: 0px;
  height: 30px;
  left: 25px;
  top: 10px;
}

.toggle:checked + .style:before, .toggle:checked + .style:after {
  transform: rotate(135deg);
}

.toggle ~ .tab {
    position: absolute;
    background: #ff0000;
    color: #fff;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    opacity: 0;
    border-radius: 50%;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -122px;
  left: 0px;
  transition-delay: 0s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -74px;
  left: 120px;
  transition-delay: 0.125s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(3) {
  top: 56px;
  left: 115px;
  transition-delay: 0.25s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(4) {
  top: 122px;
  left: 0px;
  transition-delay: 0.375s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 56px;
  left: -115px;
  transition-delay: 0.5s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: -74px;
  left: -120px;
  transition-delay: 0.625s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(7) {
  top: 0px;
  left: -133.33333px;
  transition-delay: 0.75s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(8) {
  top: -94.2809px;
  left: -94.2809px;
  transition-delay: 0.875s;
}