{% extends 'baseEmployee.html'%}

{% block content %}
{% load static %}

<div class="row"> 
  <div class="col-lg-12  mt-4 ">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-primary text-center shadow-primary border-radius-lg pt-4 pb-3">
      <h4 class="text-white text-capitalize ps-3"> نقشه فرآیندی</h4>
      </div>
       </div>
  
    <div class="card  ">
      
      <img src="{% static 'img/map.jpg' %}" class="image-map" usemap="#image-map">
      <div class="row">
        <h3 class="mx-5 my-3">توضیحات مربوط به نقشه فرآیندی</h3>
      </div>
     
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1.	نتايج مميزي داخلي درخواست اقدامات اصلاحي و پيشگيرانه، ميزان رضايت مشتري، نياز به منابع، عملكرد فرآيندها، توصيه بهبود و تغييرات موثر بر سيستم كيفيت</li>
        <li class="list-group-item">2.	اقدامات اصلاحي و پيشگيرانه تعيين شده، منابع مورد نياز، انجام مميزي ها، بررسي نتايج مميزي ها، گزارش نتايج بازرسي هاي دوره اي (انبار و توليد)</li>
        <li class="list-group-item">3.	درخواستهاي موردي حكم كار</li>
        <li class="list-group-item">4.	نيازهاي آموزشي و پرسنل نيازمند آموزش</li>
        <li class="list-group-item">5.	خدمات آموزشي و پرسنل آموزش ديده، برنامه ها و تقويمهاي آموزشي، كلاسها و سمينارهاي آموزشي</li>
        <li class="list-group-item">6.	نياز به منابع، برنامه آموزشي ماهانه، تقويم آموزشي</li>
        <li class="list-group-item">7.	تقويم و برنامه هاي آموزشي تاييد شده، منابع مالي، نيازهاي آموزشي، استانداردهاي مهارت شغل</li>
        <li class="list-group-item">8.	سوابق تعيين تكليف شده و مدارك تهيه و اصلاح شده، مدارك درون سازماني و ليست راهنماي بايگاني سوابق و كليه مدارك مورد نياز فرآيندها</li>
        <li class="list-group-item">9.	درخواست تهيه و اصلاح مدارك و سوابق تعيين تكليف نشده</li>
        <li class="list-group-item">10.	 درخواست تعمير (برنامه اي، اضطراري)، چك ليستهاي تكميل شده سرويس، دستگاهها و قالبهاي خراب</li>
        <li class="list-group-item">11.	قالبها و دستگاههاي تعمير شده، چك ليست هاي سرويس دستگاهها</li>
        <li class="list-group-item">12.	طرحهاي كنترلي، دستورالعملهاي تست، OPC محصول، نمونه توليد يك روز خط آزمايشي</li>
        <li class="list-group-item">13.	دستورالعملهاي توليد نقشه ها، جداول توليد، مدارك فني و طرحهاي بسته بندي محصول</li>
        <li class="list-group-item">14.	دستورالعملهاي نگهداري و تعميرات</li>
        <li class="list-group-item">15.	برنامه توليد</li>
        <li class="list-group-item">16.	گزارش توليد</li>
        <li class="list-group-item">17.	مواد اوليه تاييد شده</li>
        <li class="list-group-item">18.	محصول تاييد شده، درخواست كالا، ضايعات، پرت، مازاد مواد مواد اوليه مصرف شده</li>
        <li class="list-group-item">19.	درخواست بازرسي، درخواست كاليبراسيون ابزار و تجهيزات و دستگاهها</li>
        <li class="list-group-item">20.	كالاي تعيين تكليف شده، ابزار كاليبره شده</li>
        <li class="list-group-item">21.	گزارش عدم انطباق، محصول نامنطبق تعيين تكليف شده، مواد اوليه نامنطبق تعيين تكليف شده، كالاي نامنطبق بازرسي ادواري تعيين تكليف شده</li>
        <li class="list-group-item">22.	برنامه نت پيشگيرانه قالبها و دستگاهها</li>
        <li class="list-group-item">23.	ميزان رضايت، درخواست كالا، سفارش محصول، منابع مالي، درخواست خدمات، محصولات جديد مورد نياز مشتري، پيشنهادات و نظرات، شكايات</li>
        <li class="list-group-item">24.	رضايت مشتري، محصول مورد نياز مشتري، خدمات (اجرايي و آموزشي)، شكايات رسيدگي شده</li>
        <li class="list-group-item">25.	گزارش خدمات (آموزشي و اجرايي) انجام شده</li>
        <li class="list-group-item">26.	سفارش كالا از طرف مشتري (درخواست جنس از انبار- بازرگاني)</li>
        <li class="list-group-item">27.	ليست سفارشات معوقه</li>
        <li class="list-group-item">28.	موجودي انبار، Packing list كالاها، مجوز خروج، نقطه سفارش كالا</li>
        <li class="list-group-item">29.	درخواست خريد كالا، مواد اوليه مرجوعي</li>
        <li class="list-group-item">30.	كالاي خريداري شده، ليست كالاهاي خريداري شده، بازه هاي زماني خريد</li>
        <li class="list-group-item">31.	ليست مشتريان جديد  </li>
        <li class="list-group-item">32.	ليست تامين كنندگان معتبر</li>
        <li class="list-group-item">33.	گزارش خريد</li>
        <li class="list-group-item">34.	نمونه مواد اوليه تعيين تكليف نشده، مواد اوليه تعيين تكليف نشده</li>
        <li class="list-group-item">35.	گزارش نتايج بررسي نمونه مواد اوليه</li>
        <li class="list-group-item">36.	مواد اوليه نامنطبق</li>
        <li class="list-group-item">37.	گزارش عدم انطباق مواد اوليه </li>
        <li class="list-group-item">38.	درخواست و نحوه انجام خدمات</li>
        <li class="list-group-item">39.	مشخصات طراحي، سوابق مشكلات كيفي نمونه اوليه، ويژگيهاي فني و الزمات محصول، پارامترهاي ابعادي و عملكردي محصول</li>
        <li class="list-group-item">40.	نمونه آزمايشي محصول</li>
        <li class="list-group-item">41.	داده هاي خريد</li>
        <li class="list-group-item">42.	شرايط نگهداري و محافظت از محصول</li>
        <li class="list-group-item">43.	محصول نهايي و حين توليد نامنطبق تعيين تكليف شده، مواد اوليه نامنطبق تعيين تكليف شده، كلاي نامنطبق بازرسي ادواري انبار تعيين تكليف شده</li>
        <li class="list-group-item">44.	محصول نهايي و حين توليد رد شده، مواد اوليه رد شده، كالاي رد شده در بازرسي ادواري انبار</li>
        <li class="list-group-item">45.	شناسنامه محصول توليد شده، نمونه اوليه محصول و محصول حين توليد و نهايي جهت تعيين تكليف</li>
        <li class="list-group-item">46.	محصول نامنطبق حين توليد و نهايي</li>
        <li class="list-group-item">47.	گزارش بازرسي هاي دوره اي انبار</li>
        <li class="list-group-item">48.	كالاي برگشتي از مشتري جهت تعيين تكليف</li>
        <li class="list-group-item text-center"><strong>* قابل ذكر است كه يكي از تعاملات انبار و ساير فرآيندها اين است كه:
          يكي از خروجي هاي كليه فرآيندها به فرآيند انبارش" درخواست جنس از انبار" است و متقابلاً يكي از وروديهاي كليه فرآيندها از فرآيند انبارش " كالاهاي مورد نياز" مي باشد.
        </strong>  
        </li>
      </ul>


    </div>
  </div>

</div>


{% endblock content %}