{% extends 'baseEmployee.html'%}

{% block content %}
{% load static %}

<div class="row"> 
  <div class="col-lg-12  mt-4 ">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-primary text-center shadow-primary border-radius-lg pt-4 pb-3">
      <h4 class="text-white text-capitalize ps-3"> نقشه فرآیندی</h4>
      </div>
       </div>
  
    <div class="card  ">
      
      <img src="{% static 'img/map.jpg' %}" class="image-map" usemap="#image-map">
      <!-- رهبری-->
        <a href="#" role="button" id="cheshmAndaz" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.72%; top: 10.09%; width: 9.5%; height: 6.76%; z-index: 2;"></a>
        <ul class="dropdown-menu" aria-labelledby="cheshmAndaz">
          <li><a class="dropdown-item" href="{% static '/excel/PID-0111.xlsx' %}">1-مدیریت استراتژیک</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID-0112.xlsx' %}">2-توسعه پایدار</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0113.xlsx' %}">3-تدوین و به‌روزرسانی ساختارسازمانی</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0114.xlsx' %}">4-مدیریت آب بدون درآمد</a></li>
        </ul>
        <a href="#" role="button" id="modiriyatKefiyat" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 20.1%; top: 10.09%; width: 9.5%; height: 6.76%; z-index: 2;"></a>
        <ul class="dropdown-menu" aria-labelledby="modiriyatKefiyat">
          <li><a class="dropdown-item" href="{% static '/excel/PID_0121.xlsx' %}">1-مدیریت فرآیند</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0122.xlsx' %}">2-مدیریت دانش</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0123.xlsx' %}">3-مدیریت تغییرات سازمانی</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0124.xlsx' %}">4-مدیریت مستندات و سوابق</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0125.xlsx' %}">5-مدیریت آمار و پایش اطلاعات عملکردی</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0126.xlsx' %}">6-بازنگری مدیریت</a></li>


        </ul>
        <a href="#" role="button" id="modiriyatProjhe" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 30.5%; top: 10.09%; width: 9.5%; height: 6.76%; z-index: 2;"></a>
        <ul class="dropdown-menu" aria-labelledby="modiriyatProjhe">
          <li><a class="dropdown-item" href="{% static '/excel/PID_0131.xlsx' %}">1-مدیریت و کنترل پروژه</a></li>
        </ul>
        <a href="#" role="button" id="modiriyatRisk" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 41.1%; top: 10.09%; width: 9.5%; height: 6.76%; z-index: 2;"></a>
        <ul class="dropdown-menu col-lg-6" aria-labelledby="modiriyatRisk">
          <li><a class="dropdown-item" href="{% static '/excel/PID-0141.xlsx' %}">1-شناسایی و  ارزیابی ریسک‌ها و فرصت‌ها</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID-0142.xlsx' %}">2-شناسایی و کنترل شرایط بحران و برنامه‌های پدافندی</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0143.xlsx' %}">3-ممیزی داخلی سیستم ها</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0144.xlsx' %}">4-مدیریت بهبود</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0145.xlsx' %}">5-بازرسی و حسابرسی عملیاتی</a></li>



        </ul>
        <a href="#" role="button" id="modiriyatPajhohesh" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 51.55%; top: 10.09%; width: 9.5%; height: 6.76%; z-index: 2;"></a>
        <ul class="dropdown-menu" aria-labelledby="modiriyatPajhohesh">
          <li><a class="dropdown-item" href="{% static '/excel/PID_0151.xlsx' %}">1-مدیریت برنامه‌های تحقیق وتوسعه</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0152.xlsx' %}"> 2-مدیریت برنامه‌های پژوهشی</a></li>


        </ul>
        <a href="#" role="button" id="modiriyatHSE" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 61.95%; top: 10.09%; width: 9.5%; height: 6.76%; z-index: 2;"></a>
        <ul class="dropdown-menu" aria-labelledby="modiriyatHSE">
          <li><a class="dropdown-item" href="{% static '/excel/PID_0161.xlsx' %}">1-شناسایی و ارزیابی ریسک‌ها و فرصت‌های HSE</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0162.xlsx' %}">2-کنترل عملیات و مدیریت برنامه‌های HSE</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0163.xlsx' %}">3-مدیریت رویدادهای HSE</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0164.xlsx' %}">4-پایش/ اندازه‌گیری، تحلیل وارزیابی انطباق عملکرد HSE</a></li>
          <li><a class="dropdown-item" href="{% static '/excel/PID_0165.xlsx' %}">5-مدیریت و اجرای برنامه‌های واکنش در شرایط اضطراری</a></li>


        </ul>

      <!-- پایان رهبری -->

      <!-- اصلی-->


        <!-- ایجاد، بهسازی و توسعه شبکه و تاسیسات آب و فاضلاب-->
          <a href="#" role="button" id="sheklgiri" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.95%; top: 32.16%; width: 17.5%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="sheklgiri">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0211.xlsx' %}">1-تعریف وامکان‌سنجی طرح‌های بهسازی وتوسعه</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0212.xlsx' %}">2-طرح‌ریزی طرح/پروژه‌های بهسازی وتوسعه</a></li>
          </ul>
          <a href="#" role="button" id="modiriyatEjra" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.87%; top: 38.42%; width: 17.48%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatEjra">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0221.xlsx' %}">1-آماده‌سازی مقدمات اجرای طرح/ پروژه‌های بهسازی وتوسعه</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0222.xlsx' %}">2-بازرسی فنی اجرای طرح/ پروژه‌های بهسازی وتوسعه</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0223.xlsx' %}">3-کنترل وضعیت پیشرفت اجرای طرح/ پروژه‌های بهسازی وتوسعه</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0224.xlsx' %}">4-کنترل و تأیید صورت وضعیت طرح/ پروژه‌های بهسازی وتوسعه</a></li>
          </ul>
          <a href="#" role="button" id="ekhtetam" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.8%; top: 45.02%; width: 17.48%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="ekhtetam">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0231.xlsx' %}">1-اختتامیه و تحويل طرح/پروژه های بهسازی و توسعه</a></li>
          </ul>
        <!-- بهره برداری و نگه‌داری-->
          <a href="#" role="button" id="modiriyatTamin" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 35.6%; top: 28.02%; width: 17.48%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatTamin">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0311.xlsx' %}">1-مدیریت تامین وتصفیه آب‌های سطحی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0312.xlsx' %}">2-مدیریت تامین وتوزیع آب‌های زیرزمینی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0313.xlsx' %}">3-مدیریت خطوط انتقال، ایستگاه پمپاژ و مخازن مدیریت توزیع آب</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0314.xlsx' %}">4-مدیریت توزیع آب</a></li>
          </ul>
          <a href="#" role="button" id="modiriyatJamavari" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 35.62%; top: 33.15%; width: 17.53%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatJamavari">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0321.xlsx' %}">1-مدیریت جمع‌آوری و انتقال فاضلاب</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0322.xlsx' %}">2-مدیریت تصفیه‌خانه‌های فاضلاب</a></li>
          </ul>
          <a href="#" role="button" id="taminKeyfiyat" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 35.55%; top: 38.00%; width: 17.53%; height: 6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="taminKeyfiyat">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0341.xlsx' %}">1-پایش کیفیت و بهداشت آب و پساب</a></li>
          </ul>
          <a href="#" role="button" id="negahdashteTasisat" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 35.57%; top: 45.06%; width: 17.48%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="negahdashteTasisat">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0331.xlsx' %}">1-قبل از خرابی (نگهداری پیشگیرانه PM)</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0332.xlsx' %}">2-قبل از خرابی (نت مبتنی بر شرایط CBM)</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0333.xlsx' %}">3-بعد از خرابی (فوری)</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0334.xlsx' %}">4-بعد از خرابی (غیرفوری)</a></li>
          </ul>
          <a href="#" role="button" id="modiriyatEnergy" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 35.67%; top: 50.0%; width: 17.53%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatEnergy">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0351.xlsx' %}">1-مدیریت تامین و تولید انرژی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0352.xlsx' %}">2-مدیریت مصرف انرژی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0353.xlsx' %}">3-به‌کارگیری انرژی‌های تجدیدپذیر</a></li>
          </ul>
        <!-- فروش و خدمات مشترکین-->
          <a href="#" role="button" id="tarhForosh" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 61.82%; top: 32.08%; width: 17.48%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="tarhForosh">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0411.xlsx' %}">1-تدوين و بروزرساني سرویس‌های خدمات مشترکین و تعرفه‌هاي فروش و خدمات مشترکين</a></li>
          </ul>
          <a href="#" role="button" id="jazbMoshtari" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 61.9%; top: 38.0%; width: 17.48%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="jazbMoshtari">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0421.xlsx' %}">1-برنامه‌ریزی فروش</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0422.xlsx' %}">2-مدیریت فروش</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0423.xlsx' %}">3-مدیریت مطالبات</a></li>
          </ul>
          <a href="#" role="button" id="poshtibani" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 61.92%; top: 44.63%; width: 17.53%; height: 4.27%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="poshtibani">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0431.xlsx' %}">1-مدیریت درگاه‌های ارائه خدمات مشترکین</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/.xlsx' %}">2-مدیریت خدمات پس از فروش به مشترکین</a></li>
          </ul>
      <!-- پایان اصلی -->

      <!-- پشتیبانی-->

        <!-- مدیریت منابع مالی-->
          <a href="#" role="button" id="taminSarmaye" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.6%; top: 64%; width: 11.33%; height: 7.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="taminSarmaye">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0511.xlsx' %}">1-تهیه، تصویب و اصلاح برنامه و بودجه سالانه شرکت</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0512.xlsx' %}">2-کنترل بودجه</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0513.xlsx' %}">3-جذب سرمایه و مشارکت‌های اقتصادی</a></li>
          </ul>
          <a href="#" role="button" id="modiriyatMali" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.5%; top: 72.86%; width: 11.33%; height: 7.6%; z-index: 2;"></a>
            <ul class="dropdown-menu" aria-labelledby="modiriyatMali">
              <li><a class="dropdown-item" href="{% static '/excel/PID-0521.xlsx' %}">1-مدیریت ثبت اسناد درآمدی شرکت</a></li>
              <li><a class="dropdown-item" href="{% static '/excel/PID-0522.xlsx' %}">2-رسیدگی به اسناد هزینه‌ای</a></li>
              <li><a class="dropdown-item" href="{% static '/excel/PID-0524.xlsx' %}">3-افتتاح وترمیم تنخواه</a></li>
              <li><a class="dropdown-item" href="{% static '/excel/PID-0525.xlsx' %}">4-پرداخت هزینه‌ها و دریافت وجوه</a></li>
              <li><a class="dropdown-item" href="{% static '/excel/PID-0526.xlsx' %}">5-محاسبه و پرداخت حقوق و دستمزد ماهانه (حسابداری پرسنل)</a></li>
            </ul>
          <a href="#" role="button" id="hesabresi" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 9.57%; top: 81.9%; width: 11.33%; height: 7.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="hesabresi">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0531.xlsx' %}">1-تهیه صورت‌ها و گزارش‌های مالی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0532.xlsx' %}">2-حسابرسي داخلي و نظارت بر عملکرد</a></li>
          </ul>
        <!-- توسعه و مدیریت سرمایه‌های انسانی-->
          <a href="#" role="button" id="estekhdam" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 23.55%; top: 64.6%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="estekhdam">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0611.xlsx' %}">1-جذب نیروی انسانی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0612.xlsx' %}">2-انتقال، تغییرپست وتبدیل وضعیت استخدامی کارکنان</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0613.xlsx' %}">3-خاتمه خدمت کارکنان</a></li>
          </ul>
          <a href="#" role="button" id="angizesh" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 23.55%; top: 71.00%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="angizesh">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0621.xlsx' %}">1-ارائه خدمات درمانی، رفاهی واجتماعی به کارکنان</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0622.xlsx' %}">2-تشویق کارکنان</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0623.xlsx' %}">3-تعیین و ارائه مزایای رفاهی نقدی وغیرنقدی</a></li>
          </ul>
          <a href="#" role="button" id="tavanmandSazi" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 23.52%; top: 77.4%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="tavanmandSazi">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0631.xlsx' %}">1-نیازسنجی، برنامه‌ریزی و برگزاری دوره‌های آموزشی سالانه</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0632.xlsx' %}">2-ارزیابی دوره‌های آموزشی</a></li>
          </ul>
          <a href="#" role="button" id="arzyabi" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 23.52%; top: 84.08%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="arzyabi">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0641.xlsx' %}">1-تدوین معیارها و ارزیابی عملکرد نیروی انسانی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0642.xlsx' %}">2-رسیدگی به تخلفات کارکنان</a></li>
          </ul>
        <!-- مدیریت فناوری اطلاعات-->
          <a href="#" role="button" id="barnamerizi" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 37.29%; top: 64.91%; width: 11.33%; height: 8.49%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="barnamerizi">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0711.xlsx' %}">1-اصلاح و بهبود خدمات فناوری اطلاعات</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0712.xlsx' %}">2-پشتیبانی وارائه خدمات فناوری اطلاعات</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0713.xlsx' %}">3-مديريت و تحليل اطلاعات مكاني منابع، تاسيسات و شبكه‌ها</a></li>
          </ul>
          <a href="#" role="button" id="toseVejra" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 37.44%; top: 74.11%; width: 11.33%; height: 10.09%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="toseVejra">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0721.xlsx' %}">1-برنامه‌ریزی و کنترل امنیت اطلاعات</a></li>
          </ul>
        <!-- مدیریت ارتباط با ذینفعان-->
          <a href="#" role="button" id="omormajame" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 51.2%; top: 64.50%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="omormajame">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0811.xlsx' %}">1-برگزاری مجامع عادی و فوق‌العاده</a></li>
          </ul>
          <a href="#" role="button" id="modiriyatHoghoghi" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 51.24%; top: 71.22%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatHoghoghi">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0821.xlsx' %}">1-رسيدگي به دعاوي حقوقي، کیفری ، تملک اراضي</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0822.xlsx' %}">2- مدیریت قراردادها</a></li>
          </ul>
          <a href="#" role="button" id="etelaResani" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 51.24%; top: 77.35%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="etelaResani">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0831.xlsx' %}">1-اطلاع‌رسانی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0832.xlsx' %}">2-فرهنگ‌سازی وآموزش همگانی</a></li>
          </ul>
          <a href="#" role="button" id="modiriyatBazkhord" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 51.19%; top: 83.66%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatBazkhord">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0841.xlsx' %}">1-شناسایی و سنجش رضايت ذينفعان</a></lس>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0842.xlsx' %}">2-رسیدگی و پیگیری سوالات، شکایات واعتراضات</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0843.xlsx' %}">3-مدیریت نظام پیشنهادها</a></li>
          </ul>
        <!-- مدیریت تامین و پشتیبانی-->
          <a href="#" role="button" id="modiriyatArzyabi" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 65.12%; top: 64.49%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="modiriyatArzyabi">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0911.xlsx' %}">1-انتخاب تأمين‌كننده كالا/ خدمات</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0912.xlsx' %}">2-مدیریت ارزیابی و توسعه شبکه کالا و خدمات</a></li>
          </ul>
          <a href="#" role="button" id="taminKala" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 65.22%; top: 70.75%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="taminKala">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0921.xlsx' %}">1-خرید کالا/ خدمات</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0922.xlsx' %}">2-انجام مزايده و فروش کالای مازاد/ فرسوده</a></li>
          </ul>
          <a href="#" role="button" id="controlVnegahdari" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 65.14%; top: 77.5%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="controlVnegahdari">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0931.xlsx' %}">1-بازرسی و کنترل کيفی کالاي دريافتی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0932.xlsx' %}">2-دریافت، نگهداری و انبارش کالا</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0933.xlsx' %}">3-بررسی موجودی و تحویل کالا</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0934.xlsx' %}">4-حسابداری اموال و نقل و انتقالات</a></li>
          </ul>
          <a href="#" role="button" id="poshtibaniVkhadamat" data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; left: 65.17%; top: 84.1%; width: 11.33%; height: 5.6%; z-index: 2;"></a>
          <ul class="dropdown-menu" aria-labelledby="poshtibaniVkhadamat">
            <li><a class="dropdown-item" href="{% static '/excel/PID-0941.xlsx' %}">1-انجام امورتشریفات وتدارکات مراسم اداری</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/.xlsx' %}">2-ارائه خدمات حمل و نقل و تعمیرو نگهداری وسایل نقلیه موتوری و خودروها</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0943.xlsx' %}">3-ارائه خدمات عمومی</a></li>
            <li><a class="dropdown-item" href="{% static '/excel/PID-0944.xlsx' %}">4-حفاظت فیزیکی</a></li>
          </ul>
      <!-- پشتیبانی پایان-->


    </div>
  </div>

</div>


{% endblock content %}