
 {% load static %}

{%block dashboard%}


<div class="tabs">
  <div class="single-tabs tabs-one">
    <ul class="nav nav-justified py-5" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="active"
          id="tab-one-one-tab "
          data-bs-toggle="tab"
          href="#tab-one-one"
          role="tab"
          aria-controls="tab-one-one"
          aria-selected="true"
          >ریسک های فرآیندی</a
        >
      </li>
      <li class="nav-item">
        <a
          id="tab-one-two-tab "
          data-bs-toggle="tab"
          href="#tab-one-two"
          role="tab"
          aria-controls="tab-one-two"
          aria-selected="false"
          >ریسک های راهبردی</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tab-one-one"
        role="tabpanel"
        aria-labelledby="tab-one-one-tab"
      >
        <div class="container">
          <div class="row col-12 py-3">
            <div class="col-1"></div>
            <div class="col-11 row">
              <div class="col-6">
                <div>
                  <canvas id="myChart"></canvas>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="row py-3 col-5">
                <div class="col-lg-6 col-sm-6 mb-lg-0 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=1">
                    <div class="card risk1">
                      <div class="card-header risk1 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های بارز 1
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskBarez1}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 col-sm-6 mb-lg-0 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=2">
                    <div class="card risk2">
                      <div class="card-header risk2 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های بارز 2
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskBarez2}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 col-sm-6 mb-lg-0 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=4">
                    <div class="card risk4">
                      <div class="card-header risk4 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های با اولویت متوسط
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskMedian}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 col-sm-6 mb-lg-0 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=5">
                    <div class="card risk5">
                      <div class="card-header risk5 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های با اولیویت پایین
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskLow}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-12 col-sm-12 mb-lg-0 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}">
                    <div class="card bg-info">
                      <div class="card-header bg-info p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-white text-capitalize">
                            نمایش تمامی ریسک ها
                          </p>
                          <h4 class="mb-0 text-white narowFont">
                            {{totalRisk}}
                          </h4>
                        </div>
                      </div>

                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row py-3 col-5"></div>
            </div>
          </div>
        </div>
        <div class="card py-3">
          <img src="{% static 'img/map.jpg' %}" usemap="#image_map" />
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-01"
            alt="yes"
            style="
              position: absolute;
              left: 8.72%;
              top: 11.09%;
              width: 65.5%;
              height: 12.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-02"
            alt="yes"
            style="
              position: absolute;
              left: 8.72%;
              top: 27.09%;
              width: 19.5%;
              height: 30.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-03"
            alt="yes"
            style="
              position: absolute;
              left: 35.02%;
              top: 27.09%;
              width: 19.5%;
              height: 30.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-04"
            alt="yes"
            style="
              position: absolute;
              left: 61.2%;
              top: 27.09%;
              width: 19.5%;
              height: 30.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-05"
            alt="yes"
            style="
              position: absolute;
              left: 8.72%;
              top: 60.09%;
              width: 13%;
              height: 28.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-06"
            alt="yes"
            style="
              position: absolute;
              left: 22.72%;
              top: 60.09%;
              width: 13%;
              height: 28.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-07"
            alt="yes"
            style="
              position: absolute;
              left: 36.72%;
              top: 60.09%;
              width: 13%;
              height: 28.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-08"
            alt="yes"
            style="
              position: absolute;
              left: 50.22%;
              top: 60.09%;
              width: 13%;
              height: 28.76%;
              z-index: 2;
            "
          ></a>
          <a
            href="{%url 'ListViewRiskProcess' %}?hoze=PID-09"
            alt="yes"
            style="
              position: absolute;
              left: 64.22%;
              top: 60.09%;
              width: 13%;
              height: 28.76%;
              z-index: 2;
            "
          ></a>
     
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="tab-one-two"
        role="tabpanel"
        aria-labelledby="tab-one-two-tab"
      >
        <div class="container">
          <div class="row col-12 py-3">
            <div class="col-1"></div>
            <div class="col-11 row">
              <div class="col-6">
                <div>
                  <canvas id="myChart2"></canvas>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="row py-3 col-5">
                <div class="col-lg-6 col-sm-6 mb-lg-0 p-3 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=1">
                    <div class="card risk1">
                      <div class="card-header risk1 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های بارز 1
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskBarez1}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 col-sm-6 mb-lg-0 p-3 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=2">
                    <div class="card risk2">
                      <div class="card-header risk2 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های بارز 2
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskBarez2}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 col-sm-6 mb-lg-0 p-3 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=4">
                    <div class="card risk4">
                      <div class="card-header risk4 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های با اولویت متوسط
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskMedian}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 col-sm-6 mb-lg-0 p-3 mb-1">
                  <a href="{%url 'ListViewRiskProcess' %}?level=5">
                    <div class="card risk5">
                      <div class="card-header risk5 p-3 pt-2">
                        <div class="pt-1">
                          <p class="text-lg mb-0 text-capitalize">
                            ریسک های با اولیویت پایین
                          </p>
                          <h4 class="mb-0 narowFont">
                            {{riskLow}}/{{totalRisk}}
                          </h4>
                        </div>
                      </div>
                      <hr class="dark horizontal my-0" />
                      <div class="card-footer"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="card col-10 py-5">
            <img
              src="{% static 'img/نقشه استراتژی.jpg' %}"
              usemap="#image_map"
            />

        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock dashboard %}
 {% block scripts %}

<script>
  
  $(document).ready(function () {
    $("#example").dataTable({
      order: [3, "dsc"],
      pageLength: 25,
      oLanguage: {
        oPaginate: {
          sNext: "صفحه بعدی",
          sPrevious: "صفحه قبلی",
        },
        sEmptyTable: "اطلاعاتی برای نمایش وجود ندارد",
        sSearch: "جستجو   :  ",
        sInfo: "نمایش _START_ تا_END_ از تعداد کل _TOTAL_",
        sLengthMenu: "  تعداد در صفحه  _MENU_ ",
        sInfoEmpty: "رکوردی برای نمایش وجود ندارد",
      },
    });
  });
</script>
<script>
      const data = {
    labels: [
      'ریسک های بارز 1',
      'ریسک های بارز 2',
      'ریسک های متوسط',
      'ریسک های پایین'
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [{{riskBarez1Percent}}, {{riskBarez2Percent}}, {{riskMedianPercent}} , {{riskLowPercent}}],
      backgroundColor: [
        'rgb(255, 0, 0)',
        'rgb(255, 139, 6)',
        'rgb(255, 225, 56)',
        'rgb(16, 199, 0)'
      ],
      hoverOffset: 4
    }]
  };

  const config = {
    type: 'pie',
    data: data,
  };

  const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'pie',
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
<script>
  const ctx1 = document.getElementById("myChart2");

  new Chart(ctx1, {
    type: "pie",
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
{%endblock scripts%}
