{% extends extend%}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static  '/css/foundation.min.css' %}">

{%endblock style%}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-4 mx-3 z-index-2">
                <div class="bg-gradient-danger shadow-info border-radius-lg px-3 pt-4 pb-3">
                    <h4 class="text-white text-center text-capitalize ps-3">شناسنامه سند خارجی</h4>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-frame mx-3">
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <div class="card-body">
                                    <h5 class=" text-center">عنوان سند : {{sanadTitle}}  </h5> 
                                    <h6 class="py-3"> کد سند : {{sanadCode}}  </h6>
                                    <h6 class="py-3"> شماره نسخه  : {{versionNumber}}  </h6>
                                    <h6 class="py-3"> سازمان مسئول به روز رسانی سند : {{govermentUpdate}}  </h6>
                                   
                                    
                            </div>
                            <hr class="dark horizontal my-0">
                                <div class="card-footer d-flex justify-content-center">
                                    
                                    
                                    <button type="submit" class="btn mx-3 btn-info" href="#">دانلود </button>
                                </div>
                          </div>
                    </div>
                    
                    <div class="col-lg-6 justify-content-right">
                        <ul class="tabs mx-3   mb-2"data-active-collapse="true"data-tabs id="tabs_example">
                            
                            <li class="tabs-title"> 
                                <a href="#content2">  اطلاعات زمانی</a> 
                            </li>
                            <li class="tabs-title"> 
                                <a href="#content3">اطلاعات سازمانی</a> 
                            </li>
                           
                            <li class="tabs-title is-active"> 
                                <a href="#content4"> توضیحات  </a> 
                            </li>
                         
                        </ul>
                        <div class="tabs-content mx-3" 
                             data-tabs-content="tabs_example">
                            
                            <div class="tabs-panel" id="content2"> 
                                <h5 class="">  اطلاعات زمانی :</h5> 
                                <h6 class="py-3"> تاریخ  انتشار  : {{entesharDate}}  </h6>
                                <h6 class="py-3">  تاریخ اعتباردهی   : {{etebarDate}}  </h6>
                                <h6 class="py-3">  تاریخ  انقضا : {{expiredDate}}  </h6>
                                <h6 class="py-3">  دوره به روز رسانی   : {{updatePeriod}}  </h6>
                            </div>
                            <div class="tabs-panel"id="content3">
                                <h6 class="py-3">  فرآیند های مرتبط  : {{ProcessMortabet}} </h6>
                                <h6 class="py-3">  نام مرجع   : {{refrenceName}} </h6>
                                <h6 class="py-3">   پست مسئول به روز رسانی: {{postmasolUpdate}}</h6>
                                
                       
                               
                            </div>
                            <div class="tabs-panel is-active"id="content4">
                                <h5 class="">توضیحات </h5> 
                                {{tozihat}}
                               
                            </div>
                          
                        </div>
                        
                    </div>
                 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mt-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="login-card shadow-info border-radius-lg px-3 pt-4 pb-3">
                        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            
                            <h4 class="text-white text-capitalize ps-3">شناسنامه تغییرات سند <span style="color-primary" class="fa fa-caret-down pl-1"></span> </h4>
                        
                        </a>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="row">
                        
                          
                          
                          <div class="collapse" id="collapseExample">
                            
            <div class="table-responsive my-5">
              
                <table id="example" class="table uk-table uk-table-hover uk-table-striped align-items-center py-3  mb-0">
                  <br>
                  <thead>
                    
                    <tr>
                      
                      
                      <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7">ردیف</th>
                      <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7">تاریخ تغییرات</th>
                      <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7">موضوع/ دلیل تغییر</th>
                      <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7"> شماره ویرایش</th>
                      <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7">درخواست کننده / پیشنهاد دهنده تغییر</th>
                      
    
                    </tr>
                  </thead>
                  <tbody>
                    
                  
                    {%for datas in list_data%}
                      {% for key, values in datas.items %}
                      <tr>
                          
                          {% for v in values %}
                          <td class="narowFont overflow-hidden">{{v}}</td>
                          {% endfor %}
                          <td>
                            
                            <a class="btn btn-link text-dark px-3 mb-0" method="GET" href="{{ key }}">
                              <i class="material-icons text-sm me-2">edit</i>
                              ویرایش
                            </a>
                          </td>
                          <td>
                
                            <a class="btn btn-link text-danger text-gradient px-3 mb-0" method="POST" href="delete/{{ key }}">
                              <i class="material-icons text-sm me-2">delete</i>
                              حذف کردن
                            </a>
                          </td>
                      </tr>
                      {% endfor %}
                    {%endfor%}
                    
      
                              
                  </tbody>
                </table>
                
               
              </div>
                          </div>
                     
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
{% endblock content %}


{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js"></script>
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>
{%endblock scripts%}