{% extends extend%}


{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}"> -->

{%endblock style%}

{% block content %}
{{get_jalali_date}}
<script type="text/javascript">
  function show_hide_row(row)
  {
   $("#"+row).slideToggle();
  }
  </script>

</script>
<div class="container py-6">
    <div class="row justify-content-md-center">
        <div class="card  frame col-12">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="row">
              <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
                <h4 class="text-white text-capitalize ps-3">لیست ذینفعان سازمان</h4>
              </div>
            </div>
           
          </div>
            <div class="card-body px-0 pb-2">
              <div class="container-fluid fulled">
                <div class="row border-bottom py-3">
                  <div class="col-1 text-center">ردیف </div>
                  <div class="col-3 text-center">ذینفعان </div>
                 
                  <div class="col-2 text-center">منظر(سرفصل)</div>
                  <div class="col-2 text-center">نوع ذینفع (داخلی/خارجی)</div>
                  <div class="col-3 text-center">حوزه فعالیت / تعامل</div>
                  <div class="col-1 text-center">بیشتر</div>
                </div>
             
                {%for data in queryset%}
                   
                
                
                    
                   
                      <div class="row border-bottom py-3">
                        
                            <div class="col-1 narowFont text-center">{{forloop.counter}}</div>
                          
                            <div class="col-3 narowFont text-center">{{data.beneficiary}}</div>
                        
                          
                            <div class="col-2 narowFont text-center">{{data.manzar}}</div>
                            <div class="col-2 narowFont text-center">{{data.beneficiaryType}}</div>
                            <div class="col-3 narowFont text-center">{{data.beneficiaryHoze}}</div>
                         
                          
                          
                          
                            <a href="#" onclick="show_hide_row('hidden_row{{forloop.counter }}');" class="col-1">
                              <div class="  ms-2 d-flex align-items-center justify-content-center">
                                <img style="max-width: 50px;" src="{% static 'img/svg/view.svg' %}" >
                              </div>
                            </a>
                      </div>
    
                      <div id="hidden_row{{forloop.counter}}" class="hidden_row row moreData py-3" style="display:none">
                              
                         
                          
                          <div class="row py-3">
                            
                            
                              <div class="col-12">
                                <span class=" fw-bold text-dark" >  ذینفع   : </span>
                                <span class=" narowFont"> {{data.beneficiary}} </span> 
                              </div>
                              
                              
    
                          </div>
                          <div class="row py-3">
                            
                            
                            <div class="col-6">
                              <span class=" fw-bold text-dark" >  طبقه‌بندی ذینفعان : </span>
                              <span class=" narowFont"> {{data.tabaghe}} </span> 
                            </div>
                            <div class="col-6">
                              <span class=" fw-bold text-dark" >  منظر (سرفصل) : </span>
                              <span class=" narowFont"> {{data.manzar}} </span> 
                            </div>
                            
                            
  
                          </div>
                          <div class="row py-3">
                            
                            
                            <div class="col-6">
                              <span class=" fw-bold text-dark" >  نوع ذینفع (داخلی/خارجی) : </span>
                              <span class=" narowFont"> {{data.beneficiaryType}} </span> 
                            </div>
                            <div class="col-6">
                              <span class=" fw-bold text-dark" >   حوزه فعالیت / تعامل : </span>
                              <span class=" narowFont"> {{data.beneficiaryHoze}} </span> 
                            </div>
                            
                            
  
                          </div>
    
                          <hr class="dark horizontal">

                          <div class="row py-3">
                            <div class="col-12">
                              <span class=" fw-bold text-dark" >توضیحات بیشتر- (شرح تعامل / همکاری) : </span>
                             
                              <span class=" narowFont"> {{data.description}} </span> 
                              
                            </div>
                          </div>
    
                          
                             <hr class="dark horizontal">
                             <div class="row py-3">
                            
                            
                              <div class="col-6">
                                <span class=" fw-bold text-dark" >  آدرس : </span>
                                <span class=" narowFont"> {{data.address}} </span> 
                              </div>
                              <div class="col-6">
                                <span class=" fw-bold text-dark" >   اطلاعات تماس : </span>
                                <span class=" narowFont"> {{data.contact}} </span> 
                              </div>
                             
                              
                              
    
                            </div>
                             <div class="row py-3">
                            
                            
                              <div class="col-6">
                                <span class=" fw-bold text-dark" >   وضعیت کنونی تعاملی ذینفع با شرکت : </span>
                                <span class=" narowFont"> {{data.vaziyatNow}} </span> 
                              </div>
                              <div class="col-6">
                                <span class=" fw-bold text-dark" >      وضعیت مطلوب ذینفع : </span>
                                <span class=" narowFont"> {{data.vaiyatMatlob}} </span> 
                              </div>
                             
                              
                              
    
                            </div>
                             <hr class="dark horizontal">
                             
                            
                              <div class="row py-3">
                                <div class="col-12">
                                  <span class=" fw-bold text-dark" >    انتظار (انتظارات) : </span>
                                  <span class=" narowFont"> {{data.expectations}}</span> 
                                </div>
                              </div>
    
                             
    
                             
    
                      </div>
                            
                    
    
                       
                        
                        
    
                      
                  
                {% endfor %}
              
                    </div>
             

            </div>
            <div class="card-footer">
              <div class="row">
               <div class="col-4"></div>
                <div class="col-4 justify-content-center ">
                  <a class=" btn btn-lg w-100 btn-outline-info"  href="{%url 'ViewStockHoldersOrganization' %}"> منو </a>
                </div>
              </div>
             
            </div>
        </div>
    </div>

   

  <div id="results"></div>


{% endblock content %}


{% block scripts %}
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="{% static '/js/dataTables.js' %}"></script>


		<!-- <script src="{% static 'admin/js/django_jalali.min.js' %}"></script> -->
	<!-- OR -->
	<!-- loading by form (if used AdminJalaliDateWidget) -->
		{{ form.media }}

<script>
  // json_load_process
  const groupDataBox =document.getElementById('id_group') 
  const groupBox = document.getElementById('id_group')

  const processDataBox =document.getElementById('id_process') 
  const processBox = document.getElementById('id_process')

  $.ajax({
    type:'GET',
    url: '/risk/identification/json/load-prcoess/',
    success:function(response){
      console.log(response.data)
      const processData = response.data
      processData.map(item=>{
        const option = document.createElement('div')
        option.textContent = item.name
        option.setAttribute('class','item')
        option.setAttribute('data-value',item.name)
        groupDataBox.appendChild(option)
      }

      )
    },
    error: function(error){
      console.log(error)
    },
  })

  groupBox.addEventListener('change' , e=>{
    console.log(e.target.value)
    const selectedGroup = e.target.value
    processBox.innerHTML = ''
    processBox.textContent = "---------"
    $.ajax({
      type:'GET',
      url: '/risk/identification/json/get_json_group_data/' + e.target.value,
      
      success: function(response){
        console.log(response.data)
        const processData = response.data
        
        processData.map(item=>{
          const option = document.createElement('option')
          option.textContent = item.title
          option.value = item.id
      
          processDataBox.appendChild(option)
        })
      },
      error: function(error){
        console.log(error)
      }
    })

  })

 
</script>

{%endblock scripts%}





