/* downloaded from https://rokaweb.ir */
@font-face {
	font-family: 'Nazanin';
	src: url( 'Nazanin.eot' );
	src: url( 'Nazanin.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
