
{%load static%}

{%if allAgenda %}

<div  class="row" id="agendaList"> 
    <div class="table-responsive ">
              
        <table id="example" class="table uk-table uk-table-hover uk-table-striped align-items-center py-3 mb-0">
          <br>
          <thead>
            
            <tr>
                
                
                
                
           
                <th class="text-center text-lg font-weight-bolder opacity-7">دستور </th>
                <th class="text-center text-lg font-weight-bolder opacity-7">  مسئول</th>
                <th class="text-center text-lg font-weight-bolder opacity-7">  مدت زمان</th>
                
      
    
          
             
            </tr>
          </thead>
          <tbody>
          
          {%for agenda in allAgenda%}
           
              <tr>
                  
             
                  <td class="narowFont text-center overflow-hidden">{{agenda.title}}</td>
                  <td class="narowFont text-center overflow-hidden">{{agenda.responsible}}</td>
                  <td class="narowFont text-center overflow-hidden">{{agenda.timeDuration}}</td>
                  
                  
                  
                  
                 
                 
    
               
              </tr>
             
            {%endfor%}
    
                      
          </tbody>
        </table>
       
      </div>
    {%else%}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 ">
                <p >دستوری موجود نیست   </p>
            </div>
        </div>
    </div>
   
    
    {%endif%}
    </div>


