{% load static %}
{% load jalali_tags %}
{% block style %}


<link href="{% static '/css/picker.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
{%endblock style%}
<div   id="timeLine2" hx-swap-oob="true"> 
    <ul class="timeLine">
        {%for action in allAction%}
        <li style="{{action.get_color_display}}">
            <div class="date narowFont">{{action.deadLine|to_jalali:'%Y/%m/%d'}}</div>
            <div class="title">{{action.title}}</div>
            <hr class="dark horizontal ">
            <div class="descr narowFont">{{action.description}}</div>
            <hr class="dark horizontal ">
            <div class="descr narowFont text-success">تاریخ شروع : {{action.startTiem|to_jalali:'%Y/%m/%d'}}</div>
     
            <div class="descr narowFont text-danger">تاریخ پایان : {{action.deadLine|to_jalali:'%Y/%m/%d'}}</div>
            <hr class="dark horizontal ">
            <form class="text-center" hx-post="{%url 'change-status' %}" hx-target="#timeLine2" hx-swap="innerHTML" >
              {%csrf_token%}
              <input type="hidden" id="actionId"   name="actionId"   value={{action.id}}>
            {%if action.status == 'pending' %}
            
            <button class="btn text-lg btn-lg justify-content-center btn-outline-warning" style="border: None;"   >
              
                {{action.get_status_display}}
             
            </button>
            {%else%}
            <button class="btn text-lg btn-lg  justify-content-center btn-outline-success" style="border: None;"  >
              
                {{action.get_status_display}}
              
            </button>
            {%endif%}
            
           {%if request.user.is_superuser%}
            <!-- <a href="{%url 'UpdateViewPlanProfile' action.id%}" class="btn text-lg btn-lg  justify-content-center btn-outline-success" style="border: None;"  > 
              <img style="max-width: 50px; min-width: 10px;" src="{% static 'img/svg/edit2.svg' %}" >
            </a> -->
            <a class="btn text-lg btn-lg  justify-content-center btn-outline-success" style="border: None;"  data-bs-toggle="modal" data-bs-target="#deleteModal{{action.id}}" >
               <img style="max-width: 50px; min-width: 10px;" src="{% static 'img/svg/close.svg' %}" >
            </a>
              {%endif%}
            
          
          </form>
          <div class="modal fade" id="deleteModal{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-normal" id="exampleModalLabel"> حذف اکشن  </h5>
                  <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
        
                    
                        
                        {% csrf_token %}
                       <p>
                        آیا اطمینان دارید که اکشن {{action.title}} را حذف کنید ؟
                       </p>
                       
                        
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">بستن</button>
                  <a href="{%url 'DeleteViewAction' action.id %}" class="btn bg-gradient-danger">حذف </a>
                </div>
            </form>
              </div>
            </div>
          </div>
        </li>
        
        {%endfor%}
       
      
       
      
    </ul>
</div>


  {% block scripts%}
  
  <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
  <script src="{% static 'js/picker.js' %}"></script>
  
  {%endblock scripts%}