{% extends extend%}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{%static '/css/select2.min.css'%}">
<link rel="stylesheet" href="{%static '/css/select2-bootstrap-5-theme.rtl.min.css'%}">
<script src="{% static 'js/htmx.js' %}" defer></script>
{%endblock style%}
{% block content %}
<script>
  $(document).ready(function() { 
  $("#id_cycle").select2({
   theme: "bootstrap-5",
   placeholder: "یک گزینه را انتخاب کنید",
   allowClear: true
  });
  });

 </script>
<script>
  $(document).ready(function() { 
  $("#id_responsible").select2({
   theme: "bootstrap-5",
   placeholder: "یک گزینه را انتخاب کنید",
   allowClear: true
  });
  });

 </script>
<div class="container py-6" >
  <div class="row justify-content-md-center">
    <div class="card card-frame col-8">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="row">

          <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
            <h4 class="text-white text-capitalize ps-3">{{ header_title }}</h4>

          </div>
        </div>

      </div>
      <div class="container-fluid">
        <div class="wrapper option-1 option-1-1">
          <ol class="c-stepper">
            <li
              class="c-stepper__item  done ">
              <h3 class="c-stepper__title">مرحله اول</h3>
              <p class="c-stepper__desc">تعریف شناسنامه عملکردی</p>
            </li>
            <li class="c-stepper__item active">
              <h3 class="c-stepper__title">مرحله دوم</h3>
              <p class="c-stepper__desc">تعریف فرمول</p>
            </li>
            <li class="c-stepper__item {%if wizard.steps.step1 == 3%} active {%elif wizard.steps.step1 > 3%} done {%endif%}">
              <h3 class="c-stepper__title">مرحله آخر</h3>
              <p class="c-stepper__desc">تعریف متغییر ها</p>
            </li>
          </ol>
        </div>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
          <div class="card card-frame col-12">
            <div class="card-body">

             
          

              

              <div class="input-group input-group-static mb-4">
                <label class="" for="id_performanceIndexRelated">
                   معیار عملکردی مرتبط را انتخاب کنید
                </label>
                {{form.performanceIndexRelated}}
                
              </div>
              

              <div class="input-group input-group-static mb-4">
                <label class="" for="id_acceptableCondition">
                   شرط معیار پذیرش را وارد کنید
                </label>
                <select  name="acceptableCondition" class="form-control" id="id_acceptableCondition">
                  <option value="" selected="">---------</option>
                
                  <option value="smaller">کوچکتر</option>
                
                  <option value="bigger">بزرگتر</option>
                
                  <option value="equal">برابر</option>
                
                  <option value="beetween">بین</option>
                
                </select>
                
              </div>
              
              <div id="one-criteria">
                <div class="input-group input-group-static mb-4">
                  <label class="" for="id_acceptableCriteria">
                    مقدار معیار پذیرش را وارد کنید
                  </label>
                  {{form.acceptableCriteria}}
                  
                </div>
              </div>
              <div  id="two-criteria" style="display: none;">

              
                <div class="col-6 input-group input-group-static mb-4">
                  <label class="" for="id_acceptableCriteriaSecond">
                    مقدار معیار پذیرش کمتر از
                  </label>
                  {{form.acceptableCriteriaSecond}}
                  
                </div>
              </div>

              <div class="input-group input-group-static mb-4">
                <label class="" for="id_cycle">
                   دوره را انتخاب کنید
                </label>
                {{form.cycle}}
                
              </div>
              

              <div class="input-group input-group-static mb-4">
                <label class="" for="id_responsible">
                   مسئول وارد کردن را انتخاب کنید
                </label>
                {{form.responsible}}
 
                
              </div>
              

              <div class="input-group input-group-static mb-4">
                <label class="" for="id_metric">
                   واحد را وارد کنید
                </label>
                {{form.metric}}
                
              </div>
              


              <div class="row justify-content-md-center">
                <div class="col-5"><button type="submit" name="submit" class="btn w-100  btn-outline-primary" value="yes">ثبت</button></div>
                <div class="col-5"><button type="submit" name="submit" class="btn w-100  btn-outline-danger" value="no">کنسل </button></div>
              </div>



            </div>
           
          </div>

        </div>

      </form>
    </div>
  </div>
</div>




{% endblock content %}
{%block scripts%}

<script>
  const blocks =  document.getElementById("#two-criteria");

document.querySelector('#id_acceptableCondition').addEventListener("change", function() {
  if (this.value == "beetween") {
    
    document.getElementById("two-criteria").style.display = "block";
   


  }else{
    document.getElementById("two-criteria").style.display = "none";
  
  }
});

  
</script>
<script src="{% static '/js/select2.min.js' %}"></script>
{%endblock scripts%}