
{% extends 'baseEmployee.html' %} 
{% load static %}
{% block style %}

 {%endblock style%}
 
{%block content%}

<div class="container">
    <div class="row align-items-center py-5">
        <div class="col-12 ">
           
                          
            
                
                <div class=" card  ">
                    <div class="row justify-content-center">
                        <div class="col-4 py-5">
                            <img class="img-fluid " src="{% static 'img/logo0.png' %}" style="filter: drop-shadow(5px 5px 5px #222);" >
                        </div>
                     </div> 
                    <div class="card-header my-3 rounded-0 mx-6 shadow-none box-notif  card border-primary">
                        
                        <h4>شرکت شاهین مفصل</h4>
                        <h5>توضیحات درباره شرکت و ماموریت‌های آن</h5>
                    </div>
                    <div class="card-body mx-6 text-justify" >
                        <p class="narowFont  fs-4" style="white-space: pre-line">
                            شرکت شاهین مفصل ( با مسئولیت محدود ) با هدف اعتلای صنعت ساخت داخل در حوزه تولید اتصالات کابل برق و مخابرات در تاریخ 28/1/1375 تحت شماره ثبت 11866 در اصفهان تاسیس گردید و با احداث کارخانه ای در شهرک صنعتی مورچه خورت اصفهان ضمن کسب پروانه بهره برداری شماره 044394 از وزارت صنایع و معادن در سال 1376 رسما آغاز به تولید انواع اتصالات مذکور نمود. پیش از آن نیز این شرکت در حدود 5 سال با نام بازرگانی شاهین در زمینه تامین انواع اتصالات مذکور جهت صنایع کشور سابقه فعالیت داشته است.

                            این شرکت با بیش از 27 سال سابقه فعالیت بازرگانی و همچنین 22 سال سابقه فعالیت تولیدی در زمینه تولید انواع اتصالات کابل جهت شبکه های توزیع و انتقال نیرو و صنایع مختلف کشور با کسب تجارب فراوان طی سال ها همکاری نزدیک با نام آورترین شرکت های خارجی تولید کننده اتصالات کابل، با صرف انرژی بسیار و تلاش شبانه روزی مدیران و پرسنل خود این افتخار را یافته است که با رعایت دقیق استاندارد های بین المللی در زمره بهترین تولید کنندگان داخلی اتصالات کابل در صنعت ایران قرار گیرد، و گام های مثبتی نیز در عرصه ورود به بازار های جهانی با صادرات محصولات تولیدی به برخی کشور های آسیایی، آفریقایی و اروپائی بردارد.
                            از ویژگی های اصلی فعالیت های تولیدی این شرکت می توان به کنترل دقیق کیفیت مواد اولیه، رعایت استاندارد های بین المللی، تلاش در جهت انتقال هر چه بیشتر تکنولوژی تولید اتصالات کابل به داخل کشور، کاهش قیمت های تمام شده، ارائه خدمات پس از فروش مناسب و تاکید بر کسب رضایت مشتریان اشاره نمود.
                            </p>

                             <h3>حوزه فعالیت </h3>
                             <p  class="narowFont  fs-4" style="white-space: pre-line">
                            به طور کلی فعالیت های شرکت شاهین مفصل را میتوان به سه حوزه اصلی تولید، بازرگانی و خدمات تقسیم بندی نمود :
                             تولید : از اهم فعالیت های تولیدی این شرکت میتوان به تولید انواع کابلشو و دوراهه ها، اسپلایس خطوط هوایی، اتصالات کابل های خودنگهدار، بست های فلزی و پلیمری نگهدارنده کابل، روکش های حرارتی، سرکابل و مفصل های حرارتی فشار ضعیف و فشار متوسط تا 52 کیلو ولت،    مفصل های رزینی فشار ضعیف و مفصل های مخابراتی حرارتی اشاره نمود.
                            بازرگانی : از عمده فعالیت های بازرگانی این شرکت میتوان به عرضه انواع سرکابل های پلاگ-این (Plug-in) فشار متوسط، سرکابل و مفصل های کلد شرینک  فشار متوسط، سرکابل و مفصل های Slip-on فشار قوی ( از 52 تا 420 کیلو ولت ) و مفصل کابل فیبر نوری مخابراتی اشاره نمود.
                            خدمات : از عمده فعالیت های خدماتی این شرکت می توان به خدمات نصب و آموزش انواع اتصالات فشار متوسط و همچنین نصب تخصصی اتصالات فشار قوی تا سطح ولتاژ 245 کیلو ولت اشاره نمود. شایان ذکر است تیم نصب این شرکت دوره های متعددی را در کشور سوئیس در کمپانی Pfisterer گذرانده اند و دارای گواهی صلاحیت نصب و سوپروایزری اتصالات فشار قوی ار کمپانی فیسترر می باشند.
                            
                            
                        </p>
                    </div>

                </div>
                
            
                
                
           
            
        </div>
       
    </div>
</div>
{% endblock content%}
 
 
   {% block scripts %}

   
  {%endblock scripts%}
 
 

