{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
  <div class="row justify-content-center my-2">
    <div class="card  ">
    
      <div class="card-body">
        <h4 class="mb-0 text-center">بخش ادمین</h4>
        <p class="text-sm "></p>
      </div>
    </div>

  </div>

</div>





    
   
{% endblock content %}


{% block scripts %}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    console.log(5 + 6);
    return new bootstrap.Popover(popoverTriggerEl)
  })
</script>


  {%endblock scripts%}