
{%load static%}
{% if messages %}

  {% for message in messages %}
  
 
  

  <div class="alert {{message.tags}} alert-dismissible fade show " id="msg" role="alert">
      <div class="row">
        <div class=" text-center ms-2 d-flex align-items-center justify-content-center">
          <!-- <img style="max-width: 50px;" src="{% static 'img/svg/thumb-up.svg' %}" >  -->
          <span class="alert-text"><strong>توجه</strong>  </span>
        </div>
        
      </div>
       
      
      
      <h4 class="py-1 text-white text-center">{{message}}</h4>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  
    
  {% endfor %}
        


{% endif %}
    


{% block script %}
   
{% endblock script %}
    