
{% extends 'baseEmployee.html' %} 
{% load static %}
{% block style %}

 {%endblock style%}
 
{%block content%}

<div class="container">
    <div class="row align-items-center py-5">
        <div class="col-12 ">
           
                          
            
                
                <div class=" card  ">
                    
                    <div class="card-header my-3 rounded-0 mx-6 shadow-none box-notif  card border-primary">
                        
                        <h4>آشنایی با سیستم مدیریت کیفیت</h4>
                       
                    </div>
                    <div class="card-body mx-6 text-justify" >
                        <p class="narowFont  fs-4" style="white-space: pre-line">
                            برای سازمان هایی که می پرسند چگونه کیفیت محصولات و خدمات خود را بهبود بخشند و به طور مداوم انتظارات مشتریان خود را برآورده کنند، ISO (سازمان بین المللی استاندارد) تنها یک جواب دارد و آن پرداختن به جنبه های مختلف سیستم مدیریت کیفیت است که حاوی برخی از شناخته شده ترین استاندارد های ISO، خانواده ISO 9000 می باشد. اگر دوست دارید بیشتر با مفهوم سیستم مدیریت کیفیت آشنا شوید به شما پیشنهاد می کنیم که خواندن این پست را از دست ندهید.</p>
                        <div class="row justify-content-center">
                          
                                <img class="img-fluid " src="{% static 'img/about/a1.jpg' %}"  >
                          
                         </div> 
                         <h4>1- تعریف سیستم مدیریت کیفیت (quality management system)</h4>
                         <p class="narowFont fs-4" style="white-space: pre-line;">
                            سیستم مدیریت کیفیت که اغلب QMS نامیده می شود، مجموعه ای از قوانین داخلی است که توسط یک سری از سیاست ها، فرآیندها، رویه های مستند و سوابق تعریف می شود. این سیستم مشخص می کند که یک شرکت چگونه به ایجاد و تحویل محصولات و خدماتی که به مشتریان خود ارائه می دهند، دست یابد. هنگامی که این سیستم در شرکت شما اجرا می شود، QMS باید به محصول یا خدماتی که ارائه می دهید اختصاص پیدا کند؛ بنابراین همگام سازی با نیازهای شما از اهمیت بالایی برخوردار است. با این حال، به منظور اطمینان از این که عناصر یک سیستم خوب را از دست نخواهید داد، برخی از دستورالعمل های کلی در قالب ISO 9001:2015 (سیستم مدیریت کیفیت – الزامات) وجود دارد که برای کمک به استانداردسازی نحوه طراحی QMS طراحی شده اند. </p>
                            <div class="row justify-content-center">
                          
                                <img class="img-fluid " src="{% static 'img/about/a2.jpg' %}"  >
                          
                         </div> 
                         <h4> 2- سیستم مدیریت کیفیت مطابق با ISO 9001</h4>
                         <p class="narowFont fs-4" style="white-space: pre-line;">
                            ISO 9001 مجموعه ای از الزامات شناخته شده بین المللی برای ایجاد قوانین، سیاست ها، فرآیندها و رویه ها برای ارائه محصولات و خدمات متناسب با نیازهای مشتری و بهبود رضایت مشتری است. استاندارد سیستم مدیریت کیفیت توسط سازمان بین المللی استاندارد نگهداری می شود و توسط اکثر کشورهای عضو این سازمان توافق می شود تا بتواند در سطح بین المللی به رسمیت شناخته شده و به عنوان عیار اصلی استاندارد فرآیندهای مورد استفاده در سراسر جهان پذیرفته شود. در حقیقت، بیش از یک میلیون شرکت و سازمان در بیش از 170 کشور جهان دارای گواهینامه ISO 9001 هستند. این استاندارد بر اساس تعدادی از اصول مدیریت کیفیت شامل موارد زیر است:
                            •	مشتری مداری قوی
                            •	انگیزه و پیامدهای مدیریت عالی
                            •	رویکرد فرآیند
                            •	بهبود مستمر
                            به کار گیری اصول ISO 9001 این اطمینان را به شما خواهد داد که مشتریان و استفاده کنندگان، محصولات و خدماتی سازگار و با کیفیت را دریافت می نمایند که این امر با خود مزایای تجاری بسیاری را به ارمغان می آورد.
                        </p>
                        <div class="row justify-content-center">
                            <img class="img-fluid " src="{% static 'img/about/a3.jpg' %}"  >
                     </div> 
                     <h4>3- عناصر و الزامات سیستم مدیریت کیفیت</h4>
                     <p class="narowFont fs-4" style="white-space: pre-line;">
                        هر یک از عناصر سیستم مدیریت کیفیت به دستیابی به اهداف کلی تأمین نیازهای مشتری و سازمان کمک می کند. سیستم های مدیریت کیفیت باید نیازهای منحصر به فرد سازمان را برطرف کنند. با این حال، عناصر مشترک همه سیستم ها شامل موارد زیر است:
                        •	سیاست کیفیت سازمان و اهداف کیفی
                        •	راهنمای کیفیت
                        •	رویه ها، دستورالعمل ها و سوابق
                        •	مدیریت داده
                        •	فرآیندهای داخلی
                        •	رضایت مشتری از کیفیت محصول
                        •	فرصت های بهبود
                        •	تجزیه و تحلیل کیفیت
                        
                    </p>
                    <h4>4- هفت اصل QMS</h4>
                    <p class="narowFont fs-4" style="white-space: pre-line;">
                        سیستم مدیریت کیفیت ISO 9001 بر اساس هفت اصل ساخته شده است که هر یک از کانون های اساسی برای QMS یک سیستم است. این هفت اصل عبارتند از:
                        1.	اگر می خواهید محصولات و خدماتی را تأمین کنید که نیازهای مشتری را برآورده می کند،ابتدا باید بر روی این نیازها متمرکز شوید. این مشتری مداری پایه بهبود رضایت مشتری است.
2.	برای موفقیت QMS، مدیریت عالی نیاز به تأمین منابع و بررسی کافی مداوم سیستم دارد.
3.	افرادی که در سازمان شما کار می کنند مهمترین دارایی سازمان هستند و دانش و تجربه آن ها باید در QMS درک شود.
4.	فرآیند هر فعالیتی است که ورودی می گیرد و خروجی ایجاد می کند. این ورودی ها و خروجی ها همیشه فیزیکی نیستند. برخی از آن ها اطلاعات یا انرژی هستند. هر کاری که ما در یک سازمان انجام می دهیم یک فرآیند است و وقتی می فهمیم که ورودی های یک فرآیند از یک فرآیند متفاوت ناشی می شود، یک سیستم ایجاد می شود ودر این تعاملات است که باید مراقبت های ویژه ای داشته باشیم. 
5.	یک شرکت تنها با تداوم فعالیت در گذر زمان زنده خواهد ماند؛ بنابراین QMS باید در یافتن راه هایی برای انجام بهتر کارها متمرکز شود.
6.	اگر از نحوه کارکرد واقعی یک فرآیند اطلاع نداشته باشیم، مدیریت صحیح را نمی توان انجام داد. با تصمیم گیری مبتنی بر شواهد می توانیم QMS را بهتر مدیریت و بهبود دهیم.
7.	گاهی اوقات تنها راه بهبود محصولات و خدمات ما این است که تأمین کنندگان محصولات و خدمات خود را بهبود بخشند. برای ایجاد این نتیجه، ما باید رابطه بین خود و تامین کنندگان را مدیریت کنیم.

                    </p>
                    <div class="row justify-content-center">
                        <img class="img-fluid " src="{% static 'img/about/a4.jpg' %}"  >
                 </div> 
                 <h4>5- انواع سیستم های مدیریت کیفیت</h4>
                 <p class="narowFont fs-4" style="white-space: pre-line;">
                    یکی از بهترین راه ها برای اطمینان از این که سیستم مدیریت کیفیت شما کلیه فرآیندهای قابل اجرا را دربر گرفته است، مراجعه به یک مجموعه استاندارد از الزامات سیستم های مدیریت کیفیت است. استاندارد ISO 9001 مجموعه ای از الزامات است که در سراسر جهان پذیرفته شده و به گونه ای است که خطوط تمام سیاست های کلی، فرآیندها، رویه مستند و سوابق را تعریف می کند که برای یک سیستم مدیریت کیفیت موفق مورد نیاز می باشد و می تواند مورد استفاده قرار گیرد و هم چنین مناسب برای نیازهای هر سازمانی است. ISO 9001 بهترین روش ها را برای سیستم مدیریت کیفیت، از جمله نیازهای مدیریت داده، فراهم کرده و کیفیت محصولات و خدمات را برای پاسخگویی به نیازهای مشتری متمرکز می کند.                    سایر استانداردها برای ایجاد QMS در صنایع خاص مختلف وجود دارد و این استانداردها عبارتند از:
                    •	AS9100 برای صنعت هوافضا
•	ISO 13485 برای صنعت تجهیزات پزشکی
•	IATF 16949 برای صنعت خودرو

                </p>
                <div class="row justify-content-center">
                    <img class="img-fluid " src="{% static 'img/about/a5.jpg' %}"  >
             </div> 
             <p class="narowFont fs-4" style="white-space: pre-line;">
                وجه مشترک همه این استاندارد ها این است که بر اساس استاندارد ISO 9001 ساخته شده اند. با این حال، هر یک الزاماتی را اضافه کرده اند که برای صنعت خود اجباری هستند. برخی از این استانداردها شامل یک کتابچه راهنمای کیفیت به عنوان یک سند ضروری است، در حالی که برخی دیگر این نیاز را همراه با آخرین به روزرسانی حذف کرده اند.                
            </p>
            <div class="row justify-content-center">
                <img class="img-fluid " src="{% static 'img/about/a5.jpg' %}"  >
         </div> 
         <h4>6- مزایای پیاده سازی QMS</h4>
         <p class="narowFont fs-4" style="white-space: pre-line;">
            پیاده سازی سیستم مدیریت کیفیت بر همه جنبه های عملکرد سازمان تأثیر می گذارد.
از مزایای سیستم مدیریت کیفیت می توان به موارد زیر اشاره کرد:
•	تأمین نیازهای مشتری که به ایجاد اعتماد به نفس در سازمان کمک می کند و در نتیجه منجر به مشتری بیشتر، فروش بیشتر و تجارت بیشتر می شود.
•	تأمین نیازهای سازمان که مطابقت با مقررات است و ارائه محصولات و خدمات با مقرون به صرفه ترین روش
•	ایجاد فضای گسترش رشد و سود در تمامی مراحل
•	بهبود و کنترل تمامی فرآیندهای موجود
•	کاهش ضایعات
•	جلوگیری از اشتباهات
•	کاهش هزینه ها
•	تسهیل و شناسایی فرصت های آموزشی
•	جذب کارکنان
•	برقراری ارتباط آمادگی برای ایجاد نتایج سازگار

        </p>
                    </div>

                </div>
                
            
                
                
           
            
        </div>
       
    </div>
</div>
{% endblock content%}
 
 
   {% block scripts %}

   
  {%endblock scripts%}
 
 

