
 {% load static %}

{%block dashboard%}

              <div class="container ">
                  <div class="col-12">
                    <div class="row justify-content-center">
                     
                     
                      <div class="accordion-1">
                        <div class="container">
                          <div class="row my-5">
                            <div class="col-md-6 mx-auto text-center">
                              <h2>سوالات متداول</h2>
                              <p>در این بخش به سوالات و مشکلات متداولی که زمان کار با سامانه با آن مواجه می شوید پاسخ داده ایم . </p>
                            </div>
                          </div>
                          <div class="row"> {%for faq in allFaq %}
                            <div class="col-md-10 mx-auto">
                             
                              <div class="accordion" id="faq">
                                <div class="accordion-item mb-3">
                                  <h5 class="accordion-header" id="faq{{faq.id}}">
                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse{{faq.id}}" aria-expanded="false" aria-controls="faqCollapse{{faq.id}}">
                                      {{faq.question}}
                                      <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                      <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                  </h5>
                                  <div id="faqCollapse{{faq.id}}" class="accordion-collapse collapse" aria-labelledby="faq{{faq.id}}" data-bs-parent="#faq" >
                                    <div class="accordion-body text-lg opacity-8">
                                     {{faq.answer|safe}}
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            
                            </div>
                            {%endfor%}
                          </div>
                        </div>
                      </div>
                    
                     
                    </div>
                  </div>
              </div>   
   
 
{% endblock dashboard %}
 

{% block scripts %}


<script>
  $(document).ready(function () {
    $('#example').dataTable({
      "order": [3, 'dsc'],
      "pageLength": 25,
      "oLanguage": {
        "oPaginate": {
          "sNext": "صفحه بعدی",
          "sPrevious": "صفحه قبلی"
        },
        "sEmptyTable": "اطلاعاتی برای نمایش وجود ندارد",
        "sSearch": "جستجو   :  ",
        "sInfo": "نمایش _START_ تا_END_ از تعداد کل _TOTAL_",
        "sLengthMenu": "  تعداد در صفحه  _MENU_ ",
        "sInfoEmpty": "رکوردی برای نمایش وجود ندارد",


      }
    });
  });
</script>
<script>
  const data = {
    labels: {{dictData.allSource.labels|safe}},
    datasets: [{
      label: 'My First Dataset',
      data:{{dictData.allSource.data|safe}},
      backgroundColor: [
      '#EE8434',
      '#c95d63',
      '#AE8799',
      '#717EC3',
      '#7B9E87',
      '#27213C',
      '#0CF574',
      '#A47963',
      '#1CCAD8',
    ],
      hoverOffset: 8
    }]
  };

  const config = {
    type: 'pie',
    data: data,
  };

  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>


 const dataPolar = {
  labels: {{allHozeData.labels|safe}},
  datasets: [{
    label: 'تعداد بر اساس واحد',
    data: {{allHozeData.data|safe}},
    backgroundColor: [
      '#EE8434',
      '#c95d63',
      '#AE8799',
      '#717EC3',
      '#7B9E87',
      '#27213C',
      '#0CF574',
      '#A47963',
      '#1CCAD8',
    ]
  }]
};

  

  const ctxPolar = document.getElementById('myChartPolar');

 var mypp = new Chart(ctxPolar, {
    type: 'polarArea',
    data: dataPolar,
    options: {
    responsive: true,
    ticks: {
            stepSize: 1
        },
    plugins: {
      legend: {
        position: 'top',
      },
      
    }
  },
  });

  
</script>
<script>
  const dataBar = {
    labels: [
    'پایش و اندازه‌گیری فرآیند',
    'ممیزی داخلی',
    'ممیزی خارجی',
    'بازنگری مدیریت',
    'مدیریت ریسک',
    'تجزیه و تحلیل داده‌ها',
    'مدیریت تغییر',
    'پیشنهاد',
    'سایر',
  ],
    
    datasets: [{
      label: 'اقدامات اصلاحی جاری',
      data: [10, 20, 30, 40, 50, 60, 70, 80, 90],
      backgroundColor: [
        
        'rgb(255, 139, 6)',
      ],
    },
    {
      label: 'اقدامات اصلاحی اثر بخش',
      data: [5, 10, 15, 20, 25, 30, 35, 40, 45],
      backgroundColor: [

      '#0CF574',

      ],
    },
    {
      label: 'اقدامات اصلاحی غیر اثر بخش',
      data: [2, 5, 7, 10, 12, 15, 17, 20, 22],
      backgroundColor: [

      'rgb(255, 0, 0)',

      ],
    },]
  };

  const configBar = {
    type: 'pie',
    data: dataBar,
  };

  const ctxBar = document.getElementById('myChartBar');

  new Chart(ctxBar, {
    type: 'bar',
    data: dataBar,
    options: {
      plugins: {
        title: {
          display: false,
          text: 'Chart.js Bar Chart - Stacked'
        },
      },
      responsive: true,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      }
    }
  });
</script>


{%endblock scripts%}