{%block style%}

<link rel="stylesheet" href="{%static '/css/select2.min.css'%}">
<link rel="stylesheet" href="{%static '/css/select2-bootstrap-5-theme.rtl.min.css'%}">
{%endblock style%}
<script>
  $(document).ready(function() { 
  $("#id_responsible").select2({
   theme: "bootstrap-5",
   placeholder: "یک گزینه را انتخاب کنید",
   allowClear: true
  });
  });

 </script>
<div class="row">
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="card-body">
        <div class="card card-frame col-12">
          <div class="card-body">
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <div class="input-group input-group-static mb-4">
                  <label class="" for="{{ field.auto_id }}">
                    {{ form.title.label }}
                  </label>
                  {{form.title }}

                </div>
              </div>
              <div class="col-6">
                <div class="input-group input-group-static mb-4">
                  <label class="" for="{{ field.auto_id }}">
                    {{ form.code.label }}
                  </label>
                  {{form.code }}

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-group input-group-static mb-4">
                  <label class="" for="{{ field.auto_id }}">
                    {{ form.description.label }}
                  </label>
                  {{form.description }}

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-group input-group-static mb-4">
                  <label class="" for="id_problem">
                    مسئول را انتخاب کنید
                  </label>
                  <select name="responsible" class="form-control" id="id_responsible">
                    <option value="" selected="">---------</option>

                    {%for job in allJob%}
                    <option value="{{job.id}}">{{job.profile.firstName}} {{job.profile.lastName}} -
                      {{job.jobBankPost.title}}</option>
                    {%endfor%}


                  </select>

                </div>

              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-5">
                <button hx-post="{%url 'add-variable'%}" hx-trigger="click" hx-target="#variable_list"
                  hx-swap="outerHTML" type="submit" name="submit" class="btn w-100  btn-outline-primary"
                  value="yes">
                  افزودن </button>
              </div>
            </div>
            <input type="hidden" id="custId" name="PerformanceFormulaRelated"
              value="{{performanceFormulaId}}">
          </div>
        </div>
      </div>
    </form>
  </div>
{%block scripts%}
<script src="{% static '/js/select2.min.js' %}"></script>
{%endblock scripts%}