{% extends extend%}


{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}"> -->

{%endblock style%}

{% block content %}
{{get_jalali_date}}
<script type="text/javascript">
  function show_hide_row(row)
  {
   $("#"+row).slideToggle();
  }
  </script>

</script>
<div class="container py-6">
    <div class="row justify-content-md-center">
        <div class="card card-frame  col-12" style="background-color: #edffb6;">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="row">
              
              <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
                <h4 class="text-white text-capitalize ps-3">چک لیست های ممیزی داخلی</h4>
              </div>
            </div>
           
          </div>
          <div class="card-body  ">
            <ul class="list-group">
              <div class="row justify-content-center">
                <div class="col-6">
                  <li class="list-group-item bg-transparent border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex  text-center  flex-column">
                      <h5 class="mb-1 text-dark font-weight-bold">نام واحد تحت ممیزی </h5>   {{vahedSelected.title}}
                    </div>
                  </li>
                </div>
                <div class="col-6  ">
                  <li class="list-group-item bg-transparent border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex text-center   flex-column">
                      <h5 class="mb-1 text-dark font-weight-bold">واحد سازمانی مافوق  </h5> {{vahedSelected.vahedMafogh.title}}
                    </div>
                  </li>
                </div>
              </div>

          
              
              
            </ul>
           
            <hr class="horizontal gray-light my-4">
            
          </div>
       
        </div>
    </div>


 


  <div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-4 mx-3 z-index-2">
                <div class="bg-gradient-danger shadow-info border-radius-lg px-3 pt-4 pb-3">
                    <h6 class="text-white text-center ps-3">     سوالات انتخاب شده </h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                
              <div id="jqcc" class="table-responsive my-5">
                <form action="#"   id="iactive-form" method="post" >    
                  {% csrf_token %}
                <table id="example" class="table uk-table uk-table-hover uk-table-striped align-items-center py-3 mb-0">
                  <br>
                  <thead>
                    
                    <tr>
                      
                      {% for header in header_table %}
                        <th class="text-uppercase text-secondary text-center text-lg font-weight-bolder opacity-7">{{header}}</th>
                      {% endfor %}
                        <th class="text-uppercase text-secondary text-center text-lg font-weight-bolder opacity-7">انتخاب</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    
                    
                    {%for datas in list_data_yes %}
                      {% for key, values in datas.items %}
                      <tr>
                          
                          {% for v in values %}
                          <td class="narowFont text-center overflow-hidden">{{v}}</td>
                          {% endfor %}
                          <td>
                            
                            <div class="form-check text-center">
                              <input class="form-check-input" type="checkbox" name="question" value="{{key}}" id="fcustomCheck{{key}}" >
                           
                            </div>
                          </td>
                          
                      </tr>
                      {% endfor %}
                    {%endfor%}
                    
      
                              
                  </tbody>
                </table>
                
                <input type="submit" class="btn btn-primary my-6  btn-block" value="افزودن" style="direction: ltr;">
                  </form>
              </div>

              
            </div>
        </div>
    </div>
  </div>

    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-4 mx-3 z-index-2">
                    <div class="bg-gradient-danger shadow-info border-radius-lg px-3 pt-4 pb-3">
                        <h6 class="text-white text-center ps-3">    لیست سوالات   </h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                 
                  <div id="jqcc" class="table-responsive my-5">
                    <form action="#"   id="iactive-form" method="post" >    
                      {% csrf_token %}
                    <table id="example" class="table uk-table uk-table-hover uk-table-striped align-items-center py-3 mb-0">
                      <br>
                      <thead>
                        
                        <tr>
                          
                          {% for header in header_table %}
                            <th class="text-uppercase text-secondary text-center text-lg font-weight-bolder opacity-7">{{header}}</th>
                          {% endfor %}
                            <th class="text-uppercase text-secondary text-center text-lg font-weight-bolder opacity-7">انتخاب</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        
                        
                        {%for datas in list_data_not%}
                          {% for key, values in datas.items %}
                          <tr>
                              
                              {% for v in values %}
                              <td class="narowFont text-center overflow-hidden">{{v}}</td>
                              {% endfor %}
                              <td>
                                
                                <div class="form-check text-center">
                                  <input class="form-check-input" type="checkbox" name="question" value="{{key}}" id="fcustomCheck{{key}}" >
                               
                                </div>
                              </td>
                              
                          </tr>
                          {% endfor %}
                        {%endfor%}
                        
          
                                  
                      </tbody>
                    </table>
                    
                    <input type="submit" class="btn btn-primary my-6  btn-block" value="افزودن" style="direction: ltr;">
                      </form>
                  </div>

                  
                </div>
            </div>
        </div>
      </div>
</div>

 


{% endblock content %}


{% block scripts %}
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="{% static '/js/dataTables.js' %}"></script>


		<!-- <script src="{% static 'admin/js/django_jalali.min.js' %}"></script> -->
	<!-- OR -->
	<!-- loading by form (if used AdminJalaliDateWidget) -->
		{{ form.media }}

<script>
  // json_load_process

  var tableControl = document.getElementById('example');


  $('#jqcc').click(function() {
      var riskFailureModes = [];
      var riskCauses = [];
      var riskEffects = [];
      var currentAction = [];
      var riskIdentifications = [];
      $('input:checkbox:checked', tableControl).each(function() {
        riskFailureModes.push($(this).parent().parent().prev().prev().prev().prev().prev().prev().text());
        riskCauses.push($(this).parent().parent().prev().prev().prev().prev().prev().text());
        riskEffects.push($(this).parent().parent().prev().prev().prev().prev().text());
        currentAction.push($(this).parent().parent().prev().prev().prev().text());
        riskIdentifications.push($(this).parent().parent().prev().prev().prev().prev().prev().prev().prev().text());
          
      });
      console.log(riskFailureModes);
      console.log(riskCauses);
      console.log(riskEffects);
      console.log(currentAction);
      console.log(riskIdentifications);
      
      $('#id_riskFailureModes').text(riskFailureModes)
      $('#id_riskCauses').text(riskCauses)
      $('#id_riskEffects').text(riskEffects)
      $('#id_currentAction').text(currentAction)
      $('#id_riskIdentifications').val(riskIdentifications)
  });


  const groupDataBox =document.getElementById('id_group') 
  const groupBox = document.getElementById('id_group')

  const processDataBox =document.getElementById('id_process') 
  const processBox = document.getElementById('id_process')

  $.ajax({
    type:'GET',
    url: '/risk/identification/json/load-prcoess/',
    success:function(response){
      console.log(response.data)
      const processData = response.data
      processData.map(item=>{
        const option = document.createElement('div')
        option.textContent = item.name
        option.setAttribute('class','item')
        option.setAttribute('data-value',item.name)
        groupDataBox.appendChild(option)
      }

      )
    },
    error: function(error){
      console.log(error)
    },
  })

  groupBox.addEventListener('change' , e=>{
    console.log(e.target.value)
    const selectedGroup = e.target.value
    processBox.innerHTML = ''
    processBox.textContent = "---------"
    $.ajax({
      type:'GET',
      url: '/risk/identification/json/get_json_group_data/' + e.target.value,
      
      success: function(response){
        console.log(response.data)
        const processData = response.data
        
        processData.map(item=>{
          const option = document.createElement('option')
          option.textContent = item.title
          option.value = item.id
      
          processDataBox.appendChild(option)
        })
      },
      error: function(error){
        console.log(error)
      }
    })

  })

 
</script>

<script>
  $(document).ready( function() {
$('#example').dataTable( {
  "oLanguage": {
    "oPaginate": {
      "sNext": "صفحه بعدی",
      "sPrevious": "صفحه قبلی"
    },
    "sEmptyTable": "اطلاعاتی برای نمایش وجود ندارد",
    "sSearch": "جستجو   :  ",
    "sInfo": "نمایش _START_ تا_END_ از تعداد کل _TOTAL_" ,
    "sLengthMenu": "  تعداد در صفحه  _MENU_ ",
    "sInfoEmpty": "رکوردی برای نمایش وجود ندارد"
  
  }
} );
} );
</script>

{%endblock scripts%}





