{% extends extend%}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="{% static '/js/dataTables.js' %}"></script>

{%endblock style%}

{% block content %}

<div class="container py-6">
  <div class="row justify-content-md-center">
    <div class="card card-fram col-12">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="row">
          
          <div class="bg-gradient-{{ color }} shadow-{{ color }} text-center border-radius-lg pt-4 pb-3">
            <h4 class="text-white text-capitalize ps-3">{{ header_title }}</h4>
            
          </div>
        </div>
      </div>
     
      
    
        <div class="table-responsive my-5">
          
          <table id="example" class="table uk-table uk-table-hover uk-table-striped align-items-center py-3 mb-0">
            <br>
            <thead>
              
              <tr>
                
                {% for header in header_table %}
                  <th class="text-uppercase text-secondary text-center text-lg font-weight-bolder opacity-7">{{header}}</th>
                {% endfor %}
                <th class="text-uppercase text-secondary text-center text-lg font-weight-bolder opacity-7">انجام دادن</th>
                
              </tr>
            </thead>
            <tbody>
              
            
              {%for datas in list_data%}
                {% for key, values in datas.items %}
                
                
                <tr class="{%if values.1 == 0  %} table-succes {%endif%} ">
                  
                   
                    
                    
                    <td class="narowFont text-center overflow-hidden">{{values.0}}</td>
                    <td class="narowFont text-center overflow-hidden">{{values.1}}</td>

                    

                    <td class="text-center">
                      
                     

                      <a class="nav-link text-black-80"  method="GET" href="{% url  'CreateViewQuestionSelecting' key  %}"   >
                        <div class="  ms-2 d-flex align-items-center justify-content-center">
                          <img style="max-width: 50px;" src="{% static 'img/svg/view.svg' %}" >
                        </div>
                      </a>
                    </td>
                   
                </tr>
                {% endfor %}
              {%endfor%}
               
              
                
             
              

                        
            </tbody>
          </table>
          
          <div class="card-footer text-center d-flex">
            <a class="btn btn btn-lg w-100 btn-outline-info"  href="./create">
            
              افزودن
            </a>
          </div>
        </div>
      </div>
       
    
    </div>
  </div>
</div>
  {% endblock content %}


  {% block scripts %}
  
  
  <script>
    $(document).ready( function() {
  $('#example').dataTable( {
    "oLanguage": {
      "oPaginate": {
        "sNext": "صفحه بعدی",
        "sPrevious": "صفحه قبلی"
      },
      "sEmptyTable": "اطلاعاتی برای نمایش وجود ندارد",
      "sSearch": "جستجو   :  ",
      "sInfo": "نمایش _START_ تا_END_ از تعداد کل _TOTAL_" ,
      "sLengthMenu": "  تعداد در صفحه  _MENU_ ",
      "sInfoEmpty": "رکوردی برای نمایش وجود ندارد"
    
    }
  } );
} );
  </script>
  {%endblock scripts%}
  


